<template>
    <section class='container'>

      <!-- <section class='hero is-medium'>
        <div class='hero-body'>
            <h2 class="is-size-3 subtitle">{{ event.start_datetime*1000|date }}</h2>
            <h1 class='is-size-2 title' v-html='event.title' />
            <div class='subtitle' v-text='`@${event?.place?.name}`' />
        </div>
      </section> -->

      <HeaderHero :title="event?.title" :subtitle="`@${event?.place?.name}`" :suptitle="event?.start_datetime*1000 | date"/>

      <section class='md:tw-flex tw-flex-wrap '>
        <div class="tw-basis-1/2 tw-shrink tw-grow tw-mb-4">
          <CoreImg preset="event" :src="`https://gancio.cisti.org/media/${event.media[0].url}`" />
        </div>

        <main class='tw-px-4 tw-basis-1/2'>
          <div v-html='event.description' />
          <CoreTag v-for="tag in event.tags" :key="tag" :tag="{ name: tag, slug: tag }" />
        </main>

      </section>

    </section>
  </template>

  <script>

  export default {
    async asyncData ({ route, $wp }) {

      const slug = route.params.slug

      // get post from backend
      const event = await $wp.getEvent(slug)
      return { event }
    },
    head () {
      return {
        title: 'Radio Blackout - ' + this.event?.title,
      }
    }
  }
</script>
