<template>
    <section class='container'>
      
      <section class='hero is-medium'>
        <div class='hero-body'>
            <h2 class="is-size-3 subtitle">{{ event.start_datetime*1000|date }}</h2>
            <h1 class='is-size-2 title' v-html='event.title' />
            <div class='subtitle' v-text='event?.place.name' />
        </div>
      </section>
      
      <section class='md:tw-flex'>
        <div class="md:tw-shrink-0">
          <CoreImg preset="event" :src="`https://gancio.cisti.org/media/${event.media[0].url}`" />
        </div>
        
        <main class='block tw-px-4'>
          <div v-html='event.description' />
          <Tag v-for="tag in event.tags" :key="tag" :tag="{ name: tag, slug: tag }" />
        </main>
        
      </section>
      
    </section>
  </template>
  
  <script>
  
  export default {
    async asyncData ({ route, $wp }) {
      
      const slug = route.params.slug
      
      // get post from backend
      const event = await $wp.getEvent(slug)
      return { event }
    },
  }
</script>