<template lang="pug">
.columns.tw-bg-beige-100.is-vcentered
  .column.is-half.is-vcentered.p-4
        p.title Esempio CTO
        p.subtitle Banner attivabile per emergenze/CTO/promo
        button.button Scopri di più
  .column.is-half.is-0.is-vcentered
        image.is-2by1
        <img src='https://bulma.io/images/placeholders/640x320.png'>
</template>
<script>
export default {
  name: "bannerCTO",
};
</script>
