<template>
  <div class="tw-bg-black tw-py-12">
    <div
      class="tw-mx-auto tw-container tw-flex tw-bg-white tw-b-red tw-rounded"
    >
      <div class="tw-flex-grow tw-p-6 tw-space-y-4">
        <h3 class="tw-font-bold tw-text-4xl tw-font-serif">{{ title }}</h3>
        <p class="tw-text-xl">{{ message }}</p>
        <a
          class="tw-bg-red-800 tw-text-white tw-rounded tw-p-2 tw-px-4 tw-inline-block"
          :href="href"
          >{{ button }}</a
        >
      </div>
      <div class="tw-hidden md:tw-block">
        <img class="tw-rounded-r" :src="image" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "CallToAction",
  props: {
    title: { type: String, default: "Titolo Call to Action" },
    message: { type: String, default: "Lorem ipsum dolo sit amet bla bla" },
    button: { type: String, default: "Scopri di più" },
    href: { type: String, default: "/" },
    image: { type: String, default: "http://picsum.photos/seed/cto/544/237" },
  },
};
</script>
