<template>
<article>
  <div class="md:tw-flex">
    <div class="md:tw-shrink-0">
      <CoreImg
        v-if='event?.media?.length>0' preset="eventMini" :src="`https://gancio.cisti.org/media/thumb/${event?.media[0]?.url}`" />
    </div>
    <div class="tw-p-3 tw-flex tw-content-between tw-flex-col">
      <div class="tw-uppercase tw-tracking-wide tw-font-semibold">
        <time class="tw-font-thin tw-text-thin tw-text-xs">{{ event.start_datetime*1000|date }}</time>
        <span class="tw-text-red-600 tw-font-bold">@{{event?.place?.name}}</span>
      </div>
      <nuxt-link class="tw-font-semibold tw-text-slate-900 max-lines hover:tw-underline tw-text-md" :to="`/event/${event?.slug ??event.id}`">{{event?.title ?? "Title"}}</nuxt-link>
      <div>
        <Tag v-for="tag in event.tags" :key="tag" :tag="{ name: tag, slug: tag }" />
      </div>
    </div>
  </div>
</article>
</template>
<script>
export default {
  name: 'EventCardSmall',
  props: {
    event: { type: Object, default: () => {} }
  },
}
</script>
<style>
.is-cover {
  object-fit: cover;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-bottom: 2px;
}

/* .podcast-card {
  height: 400px;
} */

/* .podcast-card .card-image,
.podcast-card .card-image .image,
.podcast-card .card-image .image img {
  max-height: 200px;
  overflow: hidden;
} */

</style>