<script setup>
defineProps({ event: { type: Object, default: () => {} } })
</script>

<template>
  <article class="podcast-card tw-p-3">
    <div class="card-image">
      <CoreImg v-if='event?.media?.length>0' preset="podcast" :src="`https://gancio.cisti.org/media/thumb/${event?.media[0]?.url}`" />
    </div>
    <div>
        <span class="tw-text-xs tw-text-red-600 tw-uppercase tw-font-bold tw-tracking-wider">@{{event?.place?.name}}</span>
        <time class="tw-block tw-font-thin tw-text-thin tw-text-xs">{{ event.start_datetime*1000|date }}</time>
        <nuxt-link class='tw-font-bold tw-text-slate-700 tw-leading-snug max-lines' :to="`/event/${event?.slug ??event.id}`">{{event?.title}}</nuxt-link>
        <CoreTag v-for="tag in event.tags" :key="tag" :tag="{ name: tag, slug: tag }" />
    </div>
  </article>
</template>
