<template>
  
  <div class="has-background-black has-text-white footer mt-6">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column">
            <img class="tw-w-32" src="/logo.png"/>
            <nuxt-link to="/"><p class="has-text-weight-bold is-size-4">RADIO BLACKOUT</p></nuxt-link>
            <address class="subtitle">105.25 fm/DAB</address>
            <address class="subtitle">Via Cecchi 21/A Torino</address>
            <!-- <div class="tw-flex tw-gap-2 tw-flex-wrap tw-w-64">
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
              <div class="tw-rounded-full tw-bg-white tw-h-12 tw-w-12"></div>
            </div> -->
        </div>
        <div class="column">
          <p class="has-text-weight-bold is-size-5">Telefono</p>
          <p>Per dirette telefoniche:<br/> <a href="tel:+390112495669">+39 0112495669</a></p>
          <p>Messaggistica:<br/> <a href="tel:+393466673263">+39 346 6673263</a></p>
          <p>Radio No Tav:<br/> <a href="tel:+393770862441">+39 377 0862441</a></p>
          <p>Aria. Dediche e Messaggi per i detenuti:<br/> </p><a href="tel:+393517577125">+39 351 7577125</a>
        </div>
        <div class="column">
          <p class="has-text-weight-bold is-size-5">Mail</p>
          <p> <a href="mailto:redazione@radioblackout.org">redazione@radioblackout.org</a></p>
          <p>Per contributi alla redazione informativa:<br/> <a href="mailto:informazione@radioblackout.org">informazione@radioblackout.org</a></p>
        </div>
        <div class="column">
          <p class="has-text-weight-bold is-size-5">Sostieni Radio Blackout</p>
          <button class="button">Fai una donazione</button>
          <p class="mt-4 has-text-weight-bold is-size-5">Cerca nel sito</p>
          <div class='field'>
            <div class='control has-icons-right'>
              <input class="input" placeholder="Search">
              <span class="icon is-small is-right">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>        