<template>
  <footer class="tw-bg-black tw-text-gray-100 tw-mt-12 tw-p-12">
    <div class="tw-p-12 tw-mx-2 md:tw-mx-12">
      <div class="columns">
        <div class="column">
            <img class="tw-w-32" src="/logo.png"/>
            <nuxt-link to="/"><p class="has-text-weight-bold is-size-4">RADIO BLACKOUT</p></nuxt-link>
            <address class="rbo-subtitle">105.25 fm/DAB</address>
            <address class="rbo-subtitle">Via Cecchi 21/A Torino</address>
        </div>
        <div class="column tw-basis-6/12">
          <p class="has-text-weight-bold is-size-5">Telefono</p>
          <p>Per dirette telefoniche: <a href="tel:+390112495669">+39 0112495669</a></p>
          <p>Messaggistica: <a href="tel:+393466673263">+39 346 6673263</a></p>
          <p>Radio No Tav: <a href="tel:+393770862441">+39 377 0862441</a></p>
          <p>Aria. Dediche e Messaggi per i detenuti: </p><a href="tel:+393517577125">+39 351 7577125</a>
        </div>
        <div class="column">
          <p class="has-text-weight-bold is-size-5">Mail</p>
          <p> <a href="mailto:redazione@radioblackout.org">redazione@radioblackout.org</a></p>
          <p>Per contributi alla redazione informativa:<br/> <a href="mailto:informazione@radioblackout.org">informazione@radioblackout.org</a></p>
        </div>
        <div class="column">
          <p class="has-text-weight-bold is-size-5">Sostieni Radio Blackout</p>
          <nuxt-link class='tw-p-2 tw-border tw-text-gray-800 tw-bg-gray-100 tw-rounded tw-inline-block' to='/search'>Cerca nel sito</nuxt-link>
        </div>
      </div>
    </div>
  </footer>
</template>
<style>
footer {
  clip-path: polygon(0 0, 100% 4vh, 100% 100%, 0% 100%);
}
</style>
