<template>
  <section id="header_title" class="hero is-medium tw-p0 tw-mb-6">
    <div class="hero-body">
      <div
        id="header_background"
        :style="`background-image: url(${background});`"
      />
      <h1
        class="tw-text-2xl tw-font-serif tw-text-white md:tw-text-5xl tw-font-serif tw-font-semibold md:tw-font-bold"
      >
        {{ title }}
      </h1>
      <h4
        v-if="subtitle"
        class="tw-text-xl tw-text-white md:tw-text-1xl tw-font-serif tw-font-light md:tw-font-bold"
      >
        {{ subtitle }}
      </h4>
    </div>
  </section>
</template>
<script>
export default {
  name: "HeaderTitle",
  props: {
    title: { type: String, default: "Titolo" },
    subtitle: { type: String, default: "" },
    background: { type: String, default: "foto1.jpg" },
  },
};
</script>
<style>
#header_title {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}

#header_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
