<script setup>
import { ref } from "vue";
import SearchModal from "@/components/SearchModal";
const open = ref(false);
const toggle = () => (open.value = !open.value);
const closeBar = () => (open.value = false);
</script>
<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand tw-h-12">
      <nuxt-link class="navbar-item tw-border-r" to="/">
        <img src="/logo.png" />
      </nuxt-link>

        <Player />
      <a role="button" class="navbar-burger tw-h-full" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" @click="toggle" :class="{ 'is-active': open }">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" :class="{ 'is-active': open }" >

      <div class="navbar-end tw-mr-4">
        <SearchModal />

        <nuxt-link
          to="/search"
          @click="closeBar"
          class="navbar-item md:tw-hidden tw-flex tw-place-content-center tw-place-items-center tw-px-3"
        >
          <!-- magnifying-glass icon -->
          <fa-icon icon="fa-search" />
        </nuxt-link>
        <nuxt-link
          @click="closeBar"
          class="navbar-item hover:tw-border-b-2-black tw-border-b-2"
          to="/informazione"
          >INFORMAZIONE</nuxt-link
        >
        <nuxt-link class="navbar-item" @click="closeBar" to="/palinsesto"
          >PALINSESTO</nuxt-link
        >
        <nuxt-link class="navbar-item" @click="closeBar" to="/trasmissioni"
          >TRASMISSIONI</nuxt-link
        >
        <nuxt-link class="navbar-item" @click="closeBar" to="/podcast"
          >PODCAST</nuxt-link
        >
        <nuxt-link class="navbar-item" @click="closeBar" to="/eventi"
          >EVENTI</nuxt-link
        >
        <nuxt-link class="navbar-item" @click="closeBar" to="/chi-siamo"
          >CHI SIAMO</nuxt-link
        >
        <a
          class="navbar-item"
          target="_blank"
          href="https://www.sostieniradioblackout.org"
          >SUPPORTA</a
        >
      </div>
    </div>
  </nav>  
</template>
