<!--
  HeaderHero

  lo uso in tutte le pagine in cima

-->
<script setup lang="ts">
  defineProps({
      title: { type: String, default: "Titolo" },
      subtitle: { type: String, default: '' },
      suptitle: { type: String, default: '' },
      background: { type: String, default: () => 'foto1.jpg' },
      small: { type: Boolean },
      link: {type: Object, default: null },
      sublink: {type: Object, default: null }
  })
</script>

<template>
<div class="tw-px-6">
  <section class='rbo-header-hero tw-max-w-screen-xl tw-mx-auto'>
    <!-- <div v-if='background' class="rbo-header-background" :style="`background-image: url(${background});`" /> -->
    <div class='rbo-hero-body'>
      <nuxt-link v-if="link" class="tw-text-md md:tw-text-lg tw-font-sans" :to="link?.to">{{ link?.name }}</nuxt-link>
      <h4 v-if='suptitle' class="tw-text-md md:tw-text-lg tw-font-sans" v-html="suptitle" />
      <h1 class='mb-0 tw-text-2xl tw-font-serif md:tw-text-4xl tw-font-semibold md:tw-font-bold' v-html="title" />
      <nuxt-link v-if="sublink" class="tw-opacity-75 tw-text-md md:tw-text-lg tw-font-sans" :to="sublink?.to || ''">{{ sublink?.name }}</nuxt-link>
      <h4 v-if="$slots?.sublink"><slot name="sublink"></slot></h4>
      <h4 v-if='subtitle' class="tw-opacity-75 tw-text-sm md:tw-text-xl">{{ subtitle }}</h4>
    </div>
  </section>
</div>
</template>

<style>
.rbo-header-hero {
  @apply tw-my-4 md:tw-my-10;
}

.rbo-header-title {
  position: relative;
  z-index: 1;
}

.rbo-hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  /* padding: 9rem 4.5rem; */
  padding: 1.5rem 0;
}

.rbo-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
