<script setup>
  import { ref } from "vue"
  const open = ref(false)
  const toggle = () => (open.value = !open.value)
  const closeBar = () => (open.value = false)
</script>
<template>
  <nav role="navigation" aria-label="main navigation" class="tw-bg-white rbo-navbar">
    <div class="tw-flex tw-justify-between tw-items-center tw-h-12 tw-px-4">
      <nuxt-link class="tw-border-r tw-pr-4" to="/">
        <img src="/logo.png" class="tw-h-8" />
      </nuxt-link>

      <button class="tw-flex tw-flex-col tw-space-y-1 tw-w-8 tw-h-8 tw-justify-center tw-items-center md:tw-hidden" aria-label="menu" @click="toggle">
        <span class="tw-w-6 tw-h-0.5 tw-bg-black"></span>
        <span class="tw-w-6 tw-h-0.5 tw-bg-black"></span>
        <span class="tw-w-6 tw-h-0.5 tw-bg-black"></span>
      </button>

      <!-- desktop menu -->
      <div class="tw-hidden md:tw-flex tw-ml-auto">
        <nuxt-link class="rbo-link" to="/search">CERCA</nuxt-link>
        <nuxt-link class="rbo-link" to="/informazione">INFORMAZIONE</nuxt-link>
        <nuxt-link class="rbo-link" to="/palinsesto" @click='closeBar'>PALINSESTO</nuxt-link>
        <nuxt-link class="rbo-link" to="/trasmissioni">TRASMISSIONI</nuxt-link>
        <nuxt-link class="rbo-link" to="/podcast">PODCAST</nuxt-link>
        <nuxt-link class="rbo-link" to="/eventi">EVENTI</nuxt-link>
        <nuxt-link class="rbo-link" to="/chi-siamo">CHI SIAMO</nuxt-link>
        <a class="rbo-link tw-font-bold" target="_blank" href="https://www.sostieniradioblackout.org">SUPPORTA</a>
      </div>


      <div v-if='open' class="tw-flex md:tw-hidden tw-flex-col tw-absolute tw-ml-auto tw-bg-white tw-top-12 tw-left-0 tw-w-full tw-z-10 tw-items-start">
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/search">CERCA</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/informazione">INFORMAZIONE</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/palinsesto" @click='closeBar'>PALINSESTO</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/trasmissioni">TRASMISSIONI</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/podcast">PODCAST</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/eventi">EVENTI</nuxt-link>
        <nuxt-link class="rbo-mobile-link" @click.native='closeBar' to="/chi-siamo">CHI SIAMO</nuxt-link>
        <a class="rbo-mobile-link tw-font-bold" target="_blank" href="https://www.sostieniradioblackout.org">SUPPORTA</a>
      </div>
    </div>
  </nav>
</template>

<style>
.rbo-navbar .rbo-link {
  @apply tw-block tw-text-black tw-opacity-75 hover:tw-bg-gray-200 tw-px-2 hover:tw-no-underline tw-rounded;
}
.rbo-navbar .rbo-mobile-link {
  @apply tw-block tw-text-black hover:tw-bg-gray-200 tw-px-2 hover:tw-no-underline tw-py-2 tw-w-full;
}
</style>
