<script setup>
  const { dark } = defineProps({
    posts: { type: Array },
    title: { type: String },
    dark: { type: Boolean }
  })

  const bgColor = dark ? 'tw-bg-black' : 'tw-bg-red-800'
  const cardVariant = dark ? 'tw-text-primary-500' : 'tw-text-yellow-300 tw-opacity-75'

</script>

<template>
  <section :class='bgColor' class="tw-p-6 tw-py-12" v-if="posts?.length">
    <div class="tw-max-w-screen-xl tw-mx-auto">
      <h2 class="rbo-h2">{{ title }}</h2>
      <div class="tw-flex tw-flex-wrap tw-gap-4">

        <CoreHorizontalCard
          class="tw-text-white rbo-main-post"
          :variant='cardVariant'
          :title="posts[0]?.title"
          :link="posts[0]|link"
          :suptitle="posts[0]|postDate"
          :image="posts[0]|featuredImg"
          :description="posts[0]?.excerpt"
          :tags="posts[0]?.tags"
        />

        <div class="rbo-side-posts">
          <article class="rbo-mini-post" v-for="post in posts.slice(1)">
            <CoreImg preset="mini" :src="post | featuredImg" />
            <div>
              <nuxt-link :class='cardVariant' class="rbo-small-title" :to="post | link" v-html="post?.title" />
              <i class="tw-text-white tw-text-sm tw-opacity-75">{{ post | postDate }}</i>
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
</template>

<style>
.rbo-main-post {
  flex: 1 1 800px;
}

.rbo-side-posts {
  flex-grow: 1;
  gap: 1rem;
  flex: 1 1 300px;
  display: flex;
  flex-wrap: wrap;
}

.rbo-mini-post {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
}

</style>
