  <template>
  <nav v-if='pages > 1' class="tw-flex tw-mx-auto tw-w-full" role="navigation" aria-label="pagination">
    <ul class="tw-flex tw-mx-auto">

      <li v-if='page !== 1'>
        <a class="button mr-2" aria-label="Vai alla pagina precedente" @click='goto(prev)'>⇐</a>
      </li>

      <li>
        <span class="button">{{ page }}</span>
        <!-- <a class="button mr-2" aria-label="Vai alla pagina precedente" @click='goto(prev)'>⇐</a> -->
      </li>
      
      <!-- <li v-for='b in buttons' :key='b'>
        <a class="button m-1" aria-label="Page 46" aria-current="page" @click='goto(b)' :class='{"is-black": page===b}'>{{b}}</a>
      </li> -->
      <template v-if='page !== last'>
        <!-- <li>
          <a class="button" aria-label="Vai all'ultima pagina" :class='{"is-active": page===last}' @click='goto(last)'>{{last}}</a>
        </li> -->
        <li>
          <a class="button  ml-2" aria-label="Vai alla pagina precedente" @click='goto(next)'>⇒</a>
        </li>
      </template>
    </ul>
  </nav>  
</template>
<script>
export default {
  name: 'Pagination',
  props: {
    pages: { type: Number, default: 1 },
    page: { type: Number, default: 1 }
  },
  computed: {
    buttons () {
      const start = this.page === 1 ? this.page : this.page-1
      return [ start, start+1, start+2]
    },
    next () {
      return this.page + 1
    },
    prev () {
      return this.page - 1
    },
    last () {
      return this.pages
    }
  },
  methods: {
    goto (page) {
      this.$emit('change', page)
    }
  }
}
</script>