<script setup>
import { computed } from 'vue'
const props = defineProps({
  pages: { type: Number, default: 1 },
  page: { type: Number, default: 1 },
})

const emit = defineEmits(['change'])

const next = computed(() => props.page+1)
const prev = computed(() => props.page-1)
const last = computed(() => props.pages)

function goto(page) { emit('change', page) }

</script>
<template>
  <nav v-if='pages > 1' role="navigation" aria-label="pagination">
    <ul class="tw-flex">
      <li v-if="page > 2">
        <a class="ml-2 tw-button" aria-label="Vai alla pagina precedente" @click='goto(1)'><fa-icon icon="fa-backward-step" /></a>
      </li>

      <li v-if='page !== 1'>
        <a class="mr-2" aria-label="Vai alla pagina precedente" @click='goto(prev)'><fa-icon icon="fa-chevron-left" /></a>
      </li>

      <li>
        <span class="">{{ page }} / {{  pages }}</span>
      </li>

      <template v-if='page !== last'>
        <li v-if="page < pages">
          <a class="ml-2 tw-button" aria-label="Vai alla pagina precedente" @click='goto(next)'><fa-icon icon="fa-chevron-right" /></a>
        </li>
        <li v-if='page < pages-1'>
          <a class="ml-2 tw-button" aria-label="Vai alla pagina precedente" @click='goto(pages)'><fa-icon icon="fa-forward-step" /></a>
        </li>
      </template>
    </ul>
  </nav>
</template>
