<template>
  <div class="tw-flex">
    <div class="tw-flex-grow tw-flex tw-justify-end tw-items-center tw-pr-4">
      <span class=""
        >{{ show?.timeslots[0]?.start }} - {{ show?.timeslots[0]?.end }}</span
      >
    </div>
    <div class="tw-flex-none">
      <CoreImg
        preset="mini"
        class="is-square is-128x128 contains tw-w-24 tw-h-24 tw-object-cover tw-rounded-l"
        :src="show | featuredImg"
      />
    </div>
    <div
      class="tw-flex-grow tw-pl-4 tw-flex tw-flex-col tw-justify-center tw-items-start"
    >
      <div class="tw-font-bold">
        {{ show.category }}
      </div>
      <nuxt-link
        :to="`/shows/${show.slug}`"
        class="tw-text-2xl tw-font-serif tw-font-bold"
        v-html="show.title"
      >
      </nuxt-link>
      <div class="tw-space-x-2 tw-mt-2">
        <Tag v-for="tag in show.tags" :key="tag.slug" :tag="tag" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "PalinsestoSlot",
  props: {
    show: { type: Object, default: () => {} },
  },
};
</script>
