<template>
  <Button :status='status' @click="click" />
</template>
<script> 
import Button from '@/components/Button'
import state from './status.js'

export default {
  components: { Button },
  data () {
    return state  
  },
  destroyed () {
    this.$nuxt.$off('play:podcast', this.stop)
  },
  mounted () {
    // support mediaSession
    if (navigator.mediaSession) {
      navigator.mediaSession.setActionHandler('play', this.play)
      navigator.mediaSession.setActionHandler('pause', this.stop)
      navigator.mediaSession.metadata = new MediaMetadata({
        title: 'Radio Blackout - One Station Against The Nation',
        artwork: [ { src: 'https://cdn.radioblackout.org/wp-content/uploads/2016/03/cropped-testa_rbo_pugno-3-300x300.png' }]
      })
    }

    if (!this.player) {
      this.player = document.createElement("audio")
      this.player.addEventListener('error', this.retryOnError)
    }
    this.$nuxt.$on('play:podcast', this.stop)

  },
  computed: {
    streamingURL () {
      /**
      * In modern browser / OS, users could choose to save data on special condition.
      * A network is classified as metered when the user is sensitive to heavy data usage on that connection due to monetary costs, 
      * data limitations or battery/performance issues.
      */
      const connection = navigator.connection || navigator.mozConnection || navigator.webkitConnection
      const quality = (connection === undefined || connection.saveData !== true) ? '' : '-low'

      if (this.player.canPlayType('audio/ogg;')) {
        // using Math.random as it fixes a crazy bug that happens only on:
        // - firefox
        // - for stream ogg
        // - in https
        // - already visited (this is the only one we can change)
        return 'https://s.streampunk.cc/blackout' + quality + '.ogg?' + Math.random()
      } else {
        return 'https://s.streampunk.cc/blackout' + quality + '.mp3'
      }
    }
  },
  methods: {
    click () {
      if (this.status === 'play') {
        this.stop()
      } else {
        this.play()
      }
    },
    play () {
      this.player.src = this.streamingURL
      this.player.play()
      this.$nuxt.$emit('play:player')
      this.status = 'play'
    },
    stop () {
      if (this.player) {
        if(this.player.stop !== undefined) {
          this.player.stop()
        } else {
          this.player.pause()
          this.player.src = ""          
        }
        this.status = 'stop'
      }
    },
    retryOnError (e) {
      if(this.status === 'play') {
        this.stop()
        setTimeout(this.play, 1500)
      }
    }
  }
}
</script>

