<script setup>
const { podcast, isPost } = defineProps({
  podcast: { type: Object, default: () => {} },
  isPost: { type: Boolean, default: false }
})

const d = new Date(podcast?.date)
const link = isPost ? `/${d.getFullYear()}/${d.getMonth()}/${podcast?.slug}` : `/podcast/${podcast?.slug}`
</script>
<template>
  <div class="podcast-card tw-p-3">
    <div class="card-image tw-mb-2">
      <CoreImg preset="podcast" :src='podcast|featuredImg' alt="Placeholder image"/>
    </div>
    <div>
      <nuxt-link class="tw-text-xs tw-text-red-600 tw-uppercase tw-font-bold tw-tracking-wider" :to='`/shows/${podcast.show && podcast.show.slug}`'>{{podcast.show && podcast.show.name}}</nuxt-link>
      <time class="tw-opacity-75 tw-block tw-font-thin tw-text-thin tw-text-xs">{{podcast|postDate}}</time>
      <nuxt-link class='tw-my-2 tw-font-bold tw-text-slate-700 tw-leading-snug max-lines' :to='link' v-html='podcast?.title'></nuxt-link>
      <div class='tw-flex tw-flex-wrap tw-gap-1'>
        <CoreTag v-for="tag in podcast?.tags?.slice(0, 6)" :key="tag.slug" :tag="tag"/>
      </div>
    </div>
  </div>
</template>
<style>
.is-cover {
  object-fit: cover;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 2px;
}

.podcast-card {
  /* max-width: 410px; */
  background-color: #eaeaea;
  border: 1px solid #f2f2f2;
  /* height: 400px; */
}

/* .podcast-card:hover {
  background-color: #fffafa;
  border: 1px solid black;
  box-shadow: 5px 5px 0px red;
} */

.podcast-card a:hover {
  text-decoration: underline;
}

.podcast-card .card-image,
.podcast-card .card-image img {
  /* height: 200px; */
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

</style>
