<script>
export default {
  name: 'PodcastCard',
  props: {
    podcast: { type: Object, default: () => {} }
  },
}
</script>
<template>
  <div class="podcast-card tw-p-3">
    <div class="card-image">
      <CoreImg preset="podcast" :src='podcast|featuredImg' alt="Placeholder image"/>
    </div>
    <div>
        <nuxt-link class="tw-text-xs tw-text-red-600 tw-uppercase tw-font-bold tw-tracking-wider" :to='`/shows/${podcast.show && podcast.show.slug}`'>{{podcast.show && podcast.show.name}}</nuxt-link>
        <time class="tw-block tw-font-thin tw-text-thin tw-text-xs">{{podcast|postDate}}</time>
        <nuxt-link class='tw-font-bold tw-text-slate-700 tw-leading-snug max-lines' :to='`/podcast/${podcast.slug}`' v-html='podcast?.title'></nuxt-link>
        <Tag v-for="tag in podcast?.tags" :key="tag.slug" :tag="tag"/>
    </div>
  </div>
</template>
<style>
.is-cover {
  object-fit: cover;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-bottom: 2px;
}

.podcast-card {
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  /* max-width: 450px; */
  /* height: 400px; */
}

.podcast-card:hover {
  background-color: #fffafa;
  border: 1px solid black;
  box-shadow: 5px 5px 0px red;
}

.podcast-card a:hover {
  text-decoration: underline;
}

.podcast-card .card-image,
.podcast-card .card-image img {
  /* height: 200px; */
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

</style>