<template>
  <div id="audio-player-container">
    <audio ref='player' :src="src" preload="metadata" controls></audio>
    <button id="play-icon"></button>
    <span id="current-time" class="time">0:00</span>
    <input type="range" id="seek-slider" max="100" value="0">
    <span id="duration" class="time">0:00</span>
    <output id="volume-output">100</output>
    <input type="range" id="volume-slider" max="100" value="100">
    <button id="mute-icon"></button>
  </div>
  <!-- <div class='card has-background-black podcast' >
    <div class='card-content p-2 is-flex'>
      <span>{{id}}</span>
      <Button @click='togglePlay' :status='status'/>
      <div class='is-fullwidth'>
         <div class='has-text-weight-bold is-size-5' v-html='title'></div>
        <span>{{currentTime}}</span>
        <span class='is-pulled-right'>{{totalTime}}</span>

        <div class='progressbar cursor-pointer mb-2' @click='seek'>
          <div class='bar' role='progressbar' :style='{ width: `${progress}%` } ' />
        </div>

        <div class='is-flex is-fullwidth is-justify-content-space-between'>
          <div class='is-pulled-left'>
            <a @click='toggleMute'>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" stroke="red" color='red'>
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.536 8.464a5 5 0 010 7.072m2.828-9.9a9 9 0 010 12.728M5.586 15H4a1 1 0 01-1-1v-4a1 1 0 011-1h1.586l4.707-4.707C10.923 3.663 12 4.109 12 5v14c0 .891-1.077 1.337-1.707.707L5.586 15z" />
              </svg>
            </a>
            <div class='volumebar progressbar' @click='changeVolume'>
              <div class='bar'  :style='{ width: `${volume}%` } '/>
            </div> 
          </div>

          <div>
            <a class='is-pulled-right pr-2'>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="red">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
              </svg>
            </a>
            <a class='is-pulled-right pr-3' :href='src' download>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" stroke="red">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</template>

<script>

import Button from '@/components/Button'
// import { Howl } from 'howler'

function humanizeSeconds (seconds) {
  const hours = Math.floor(seconds / 3600)
  seconds = seconds - (hours * 3600)
  const minutes = Math.floor(seconds / 60)
  seconds = Math.floor(seconds - (minutes * 60))
  return `0${hours}:${minutes < 10 ? '0' + minutes : minutes}:${seconds < 10 ? '0' + seconds : seconds}`
}

export default {
  components: { Button },
  props: {
    title: { type: String, default: 'Title' },
    subtitle: { type: String, default: 'Subtitle' },
    href: { type: String, default: '' },
    src: { type: String, default: 'http://192.168.1.161:8081/antani.opus' },
    podcast: {},
    timepoints: { type: Array, default: () => [] }
  },
  data () {
    return {
      player: null,
      loading: true,
      status: 'stop',
      volume: 100,
      totalTime: 0,
      totalSeconds: 0,
      currentTime: 0,
      currentSeconds: 0,
      remainingTime: 0,
      progress: 0,
      interval: null,
      id: Math.random()
    }
  },
  destroyed () {
    clearInterval(this.interval)
    // this.player.unload()
  },
  mounted () {
    console.error('sono dentro mounted !', this.id)
    this.player = this.$refs.player
    console.error(this.player)
    // this.player.play()
    // new Howl({
    //   autoSuspend: false,
    //   html5: true,
    //   preload: true,
    //   src: [this.src],
    // })

    // this.player.on('load', this.handler.bind(this.player, 'load'))
    // this.player.on('play', this.handler.bind(this.player, 'play'))
    // this.player.on('unlock', this.handler.bind(this.player, 'unlock'))
    // this.player.on('loaderror', this.handler.bind(this.player, 'loaderror'))
    // this.player.on('playerror', this.handler.bind(this.player, 'playerror'))
    // this.player.on('pause', this.handler.bind(this.player, 'pause'))
    // this.player.on('end', this.handler.bind(this.player, 'end'))
    // this.player.on('stop', this.handler.bind(this.player, 'stop'))
    this.$nuxt.$on('play:player', this.stop)
    this.$nuxt.$on('play:podcast', this.stopOnPlay.bind(this))

  },
  methods: {
    stopOnPlay () {
      // console.error(this.$refs)
      if (this.player.state() === 'play') {
        this.stop()
      }
    },
    updateTime () {
      this.currentSeconds = this.player.seek()
      this.currentTime = humanizeSeconds(this.currentSeconds)
      this.progress = 100 * this.currentSeconds / this.totalSeconds
    },
    toggleMute () {
      if (this.volume) {
        this.volume = 0
        this.player.volume(0)
      } else {
        this.volume = 100
        this.player.volume(1)
      }
    },
    changeVolume (ev) {
      const rect = ev.target.getBoundingClientRect()
      const x = ev.clientX - rect.left
      const volume = x / rect.width
      this.player.volume(volume)
      this.volume = Math.floor(volume * 100)
    },
    handler (type, value) {
      if (type === 'unlock') return
      console.error(`dentro handler! ${type} / ${value} [${this.id} ${this.src}]`)
      switch (type) {
        case 'load':
          this.totalSeconds = this.player.duration()
          this.totalTime = humanizeSeconds(this.totalSeconds)
          this.currentSeconds = 0
          this.currentTime = humanizeSeconds(0)
          this.status = 'stop'
          break
        case 'play':
          this.status = 'play'
          // this.$refs.button.play()
          break
        case 'pause':
          this.status = 'stop'
          // this.$refs.button.stop()
      }
    },
    togglePlay () {
      // const playerState = this.player.state()
      // console.error('dentro togglePlay', this.player.state())
      if (this.status === 'play') {
        this.stop()
      } else if (this.status === 'stop') {
        this.play()
      } else {
        console.error('unknown state ', this.status)
      }
    },
    play () {
      this.$nuxt.$emit('play:podcast', { })
      this.player.play()
      if (this.player.state() !== 'loaded') {
        console.error('loading..')
        this.status = 'loading'
      } else {
        this.status = 'stop'
      }
      this.interval = setInterval(this.updateTime, 500)
    },
    stop () {
      // console.error('player:stop')
      // this.$refs.button.s/top()
      this.status = 'stop'
      this.player.pause()
      clearInterval(this.interval)
    },
    seek (ev) {
      const rect = ev.target.getBoundingClientRect()
      const left = rect.left
      const width = rect.width
      const x = ev.clientX - left
      this.player.seek(this.totalSeconds * x / width)

      // console.error(x)
      // player.seek(100)
      // console.error(ev)
    }
  }
}
</script>
<style>
svg {
  height: 30px;
  width: 30px;
  display: inline;
}

.podcast {
   /* max-width: 500px;  */
  color: red;
}

.is-fullwidth {
  width: 100%;
}

.progressbar {
  height: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
  width: 100%;  
}

.volumebar {
  height: 5px;
  display: inline;
  width: 100px;

}

.bar {
  cursor: pointer;
  z-index: -2;
  border-right: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  height: 100%;
  transition: width .5s;
  white-space: nowrap;
  background-color: red;
}

.volumebar .bar {
  background-color: red;
}

/* 
.progressbar {
  height: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  border-radius: 4px;
  z-index: 1;
  cursor: pointer;
  width: 100%;
}

.bar {
  cursor: pointer;
  z-index: -2;
  padding: 2px;
  border-right: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  height: 13px;
  transition: width .5s;
  white-space: nowrap;
  background-color: #ffef72;
}
/* .d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-inline {
  display: inline;
}

.pr-2 {
  padding-right: 6px;
}

.mt-1 {
  margin-top: 4px;
}

.podcastController {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.podcastPlayer {
  min-width: 350px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-flex;
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  padding: 4px;
  padding-left: 0px;
  padding-right: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 10px black;
  transition: .2s background-color;
}

.podcastPlayer.title {
  color: orangered;
  font-size: 1.1rem;
  font-weight: 600;
}

.subtitle {
  opacity: 0.6;
  font-weight: 400;
}

.volume {
  cursor: pointer;
}

.volume:hover .volumeBar {
  width: 100px;
}  

.volumeBar {
  transition: width .5s;
  width: 0px;
  font-size: 13px;
  margin-top: 3px;
  height: 10px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.volumeBar .bar {
  border-right: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  height: 10px;
  white-space: nowrap;
  transition: width .5s;
  background-color: #ffef72;
}
  .progressBar {
    font-size: 13px;
    margin-top: 3px;
    height: 20px;
    min-width: 100px;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 4px;
    z-index: 1;
    cursor: pointer;
  }

  .bar {
    z-index: -1;
    padding: 2px;
    border-right: 1px solid #ccc;
    border-radius: 4px 0px 0px 4px;
    height: 15px;
    transition: width .5s;
    white-space: nowrap;
    background-color: #ffef72;
  } */

</style>
