<template>
<article>
  <div class="media-left image is-square is-96x96">
    <CoreImg preset='mini' :src="podcast|featuredImg" />
  </div>
  <div class="media-content">
    <time>{{podcast | postDate}}</time>
    <div>
      <nuxt-link class="title" :to="`/podcast/${podcast?.slug}`"><h3 class="tw-line-clamp-1 " v-html="podcast?.title"></h3></nuxt-link>
      <address class="tw-not-italic"><nuxt-link :to="`/shows/${podcast?.show?.slug}`">{{podcast?.show?.name ?? "Nome trasmissione"}}</nuxt-link></address>
    </div>
    <p class="tw-space-x-2">
      <Tag v-for="tag in podcast?.tags" :key="tag.slug" :tag="tag" />
    </p>
  </div>
</article>
</template>

<script>
import Tag from './Tag.vue';

export default {
  name: 'PodcastCardHome',
  components: { Tag },
  props: {
    podcast: { type: Object, default: () => {} },
  },
}
</script>
<style>

</style>