<script setup lang="ts">
defineProps(['result'])
</script>
<template>
<article class="tw-mb-3 podcst-card tw-flex">
  <div class="card-image">
    <CoreImg preset="mini" :src="result.document.post_thumbnail | cdnImg" alt="Placeholder image" />
  </div>
  <div class="tw-ml-2">
    <span class="tw-opacity-75 tw-font-sans tw-text-sm">{{ result.document.post_date }}</span>
    <nuxt-link class="tw-text-black max-lines tw-mb-0" :to="result.document.permalink.replace('http://rbo.loc/', '/').replace('https://rbo.cisti.org', '')"
      v-html="result.highlight?.post_title?.snippet ?? result.document.post_title"></nuxt-link>
    <p class='tw-font-xs tw-text-xs' v-html="result.highlight?.post_content?.snippet" />
    <CoreTag v-for="tag in result.highlight?.tags" :key="tag?.snippet" v-html="tag?.snippet"></CoreTag>
  </div>
</article>
</template>
