<script>
export default {
  data() {
    return {
      facetLabels: { podcastfilter: "Trasmissione", tags: "Tag" },
      filters: { tags: {}, podcastfilter: {} },
      search: "",
      results: [],
      open: false,
      page: [1, 1],
      selectedType: 0, // questa e' una porcata (0: post, 1: podcast)
    };
  },
  computed: {
    pages() {
      return Math.ceil(this.results?.results?.[this.selectedType]?.found / 4);
    },
    // page () {
    //     return this.results?.results?.[this.selectedType].page
    // }
  },
  watch: {
    filters: {
      handler() {
        console.error("dentro watch!");
        this.updateSearch();
      },
      deep: true,
    },
    page () {
      console.error('page changed!')
    }
  },
  methods: {
    // toggleFilter (filter) {
    //     console.error('dentro toggle filter')
    //     this.filters[filter.value] = !!!this.filters?.[filter.value]
    // },
    async updateSearch() {
      if (!this.search) return;

      let post_filter_by;
      let podcast_filter_by;
      const selectedTags = Object.keys(this.filters.tags).filter(
        (k) => this.filters.tags[k]
      );
      if (selectedTags.length) {
        post_filter_by = `tags:=[\`${selectedTags.join("`,`")}\`]`;
        podcast_filter_by = post_filter_by;
      }

      const selectedPodcastfilter = Object.keys(
        this.filters.podcastfilter
      ).filter((k) => this.filters.podcastfilter[k]);
      if (selectedPodcastfilter.length) {
        if (podcast_filter_by) {
          podcast_filter_by += `&& podcastfilter:=[\`${selectedPodcastfilter.join(
            "`,`"
          )}\`]`;
        } else {
          podcast_filter_by = `podcastfilter:=[\`${selectedPodcastfilter.join(
            "`,`"
          )}\`]`;
        }
      }

      const searches = {
        searches: [
          {
            collection: "post",
            facet_by: "tags",
            ...(post_filter_by && { filter_by: post_filter_by }),
            query_by: "post_title,post_content,tags",
            page: 1,
            per_page: 4,
            highlight_affix_num_tokens: 5,
            highlight_full_fields: "post_title,post_content",
            q: this.search,
          },
          {
            collection: "podcast",
            facet_by: "podcastfilter,tags",
            query_by: "post_title,post_content,tags",
            ...(podcast_filter_by && { filter_by: podcast_filter_by }),
            page: 1,
            per_page: 4,
            highlight_affix_num_tokens: 5,
            highlight_full_fields: "post_title,post_content,tags",
            q: this.search,
          },
        ],
      };
      // http://172.18.0.4:8180/multi_search?x-typesense-api-key=crfaQoSQGPIx9xy93ZopF7XkEAUGYnfU
      this.results = await fetch(`/multi_search?x-typesense-api-key=xyz`, {
        body: JSON.stringify(searches),
        method: "POST",
        headers: {
          Accept: "application/json, text/plain, */*",
          "X-TYPESENSE-API-KEY": "xyz",
        },
      })
        .then((ret) => ret.json())
        .catch((e) => []);
    },
    async select(type) {
      this.selectedType = type;
    },
  },
};
</script>
<template>
  <div class="tw-hidden md:tw-block">
    <button
      @click="open = true"
      class="tw-h-full tw-place-content-center tw-place-items-center tw-px-3"
    >
      <!-- magnifying-glass icon -->
      <fa-icon icon="fa-search" /> CERCA
    </button>
    <dialog
      class="tw-bg-black tw-bg-opacity-80 tw-absolute tw-h-screen tw-w-screen tw-top-0 tw-left-0"
      :open="open"
    >
      <div
        class="tw-h-screen tw-flex tw-place-content-center tw-place-items-start tw-my-16"
      >
        <div
          class="tw-bg-white tw-container tw-p-4 tw-rounded tw-border tw-space-y-4"
        >
          <div class="tw-flex tw-gap-4">
            <input
              class="input text-field input-text"
              type="text"
              v-model="search"
              @input="updateSearch"
              placeholder="Cerca nell'archivio di Radio Blackout per tag, titolo, contenuto"
            />
            <button @click="open = false"><fa-icon icon="fa-close" /></button>
          </div>

          <div class="tw-flex tw-gap-5">
            <div id="searchSidebar">
              <button
                @click="select(0)"
                class="tw-button tw-w-full tw-m-1 tw-bg-gray-200 tw-uppercase navbar-item hover:tw-bg-gray-300"
              >
                L'info di Blackout<span class="info">{{
                  results?.results?.[0]?.found
                }}</span>
              </button>
              <button
                @click="select(1)"
                class="tw-button tw-w-full tw-m-1 tw-bg-gray-200 tw-uppercase navbar-item hover:tw-bg-gray-300"
              >
                Podcast
                <span class="info">{{ results?.results?.[1]?.found }}</span>
              </button>
              <div
                class="tw-space-y-1"
                v-for="facet in results?.results?.[selectedType]?.facet_counts"
              >
                <h1 class="tw-uppercase tw-text-lg tw-font-bold">
                  {{ facetLabels[facet.field_name] }}
                </h1>
                <template v-for="cat in facet.counts">
                  <!-- <button @click='toggleFilter(cat)' class='tw-relative tw-text-left tw-m-1 tw-font-thin hover:tw-border-left-2'>{{ cat }}</button> -->
                  <input
                    type="checkbox"
                    v-model="filters[facet.field_name][cat.value]"
                    :id="`cat_${cat.value}`"
                  />
                  <label class="tw-mr-2" :for="`cat_${cat.value}`">{{
                    cat.value
                  }}</label>
                </template>
              </div>
            </div>
            <div class="tw-col">
              <div
                v-for="result in results?.results?.[selectedType]?.hits"
                :key="result.document.id"
                class="tw-mb-5 podcst-card tw-flex"
              >
                <div class="card-image">
                  <CoreImg
                    preset="mini"
                    :src="result.document.post_thumbnail | cdnImg"
                    alt="Placeholder image"
                  />
                </div>
                <div class="tw-ml-2">
                  <span>{{ result.document.post_date }}</span>
                  <div @click="open = false">
                    <nuxt-link
                      class="title is-4 max-lines tw-mb-0"
                      :to="
                        result.document.permalink
                          .replace('http://rbo.loc/', '/')
                          .replace('https://rbo.cisti.org', '')
                      "
                      v-html="
                        result.highlight?.post_title?.snippet ??
                        result.document.post_title
                      "
                    ></nuxt-link>
                  </div>
                  <p v-html="result.highlight?.post_content?.snippet" />
                  <CoreTag
                    v-for="tag in result.document?.tags"
                    :key="tag.slug"
                    :tag="tag"
                  />
                </div>
              </div>
            </div>
          </div>
          <Pagination :pages="pages" :page="page[selectedType]" @change="p => page[selectedType] = p"/>
        </div>
      </div>
    </dialog>
  </div>
</template>
<style>
dialog {
  z-index: 1;
  user-select: none;
}

#searchSidebar {
  width: 300px;
  flex-shrink: 0;
}

.info {
  position: absolute;
  right: 0px;
  top: -7px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 0 5px;
}
</style>
