<script setup lang="ts">
defineProps(['tag'])
</script>
<template>
    <nuxt-link :to='`/tag/${tag?.slug ?? tag}`' class="tag tw-px-2 tw-mr-1 tw-font-light tw-text-sm tw-font-mono"><slot>{{ tag?.name ?? tag}}</slot></nuxt-link>
</template>