<script>

function inTimeslots (timeslots) {
    const days = ['domenica', 'lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato']
    const now = new Date()
    const today = days[now.getDay()]
    const hour = now.getHours()
    const minute = now.getMinutes()

    if (timeslots?.[0]?.day !== today) { return }

    const [start_h, start_m] = timeslots[0].start.split(':')
    const [due_h, due_m] = timeslots?.[0]?.end?.split(':') ?? [start_h, start_m]
    return (( hour===Number(start_h) && minute>=Number(start_m) || hour>Number(start_h)) &&
          (hour===Number(due_h) && minute<=Number(due_m) || hour<Number(due_h)))

}

export default {
    name: 'TrasmissioneLive',
    data () {
        return { today: '' , hour: '', minute: '', shows: [] }
    },
    mounted () {
        this.$wp.getShows().then(allShows => {
            this.shows = allShows.filter(s => s.active)
        })
    },
    computed: {
        show() {
            const tx = this.shows.find(s => inTimeslots(s.timeslots))
            if (tx) {
                return { name: tx.title, time: this.$root.$options.filters.timeslot(tx)}
            } else {
                return { name: 'Bobina', time: '' }
            }
        }
    }
}

</script>
<template>
    <section class='sm:tw-p-6 hero is-medium tw-bg-black tw-mx-auto tw-mt-4'>
        <div class='tw-max-w-screen-xl tw-mx-auto tw-flex tw-py-12'>
        <Player />
        <h5 class='tw-ml-6 is-size-2 tw-font-bold tw-text-white tw-block'>{{show.name}}<br/>
            <span class='subtitle tw-text-white icon-text'>{{show.time}}</span>
        </h5>
        </div>
    </section>
</template>