<script>

function inTimeslots (timeslots) {
    const days = ['domenica', 'lunedi', 'martedi', 'mercoledi', 'giovedi', 'venerdi', 'sabato']
    const now = new Date()
    const today = days[now.getDay()]
    const hour = now.getHours()
    const minute = now.getMinutes()

    if (timeslots?.[0]?.day !== today) { return }

    const [start_h, start_m] = timeslots[0].start.split(':')
    const [due_h, due_m] = timeslots?.[0]?.end?.split(':') ?? [start_h, start_m]
    return (( hour===Number(start_h) && minute>=Number(start_m) || hour>Number(start_h)) &&
          (hour===Number(due_h) && minute<=Number(due_m) || hour<Number(due_h)))

}

export default {
    name: 'TrasmissioneLive',
    props: {
      small: { type: Boolean, default: false }
    },
    data () {
        return { today: '' , hour: '', minute: '', shows: [] }
    },
    mounted () {
        this.$wp.getShows().then(allShows => {
            this.shows = allShows.filter(s => s.active)
        })
    },
    computed: {
        show() {
            const tx = this.shows.find(s => inTimeslots(s.timeslots))
            if (tx) {
                return { slug: tx.slug, name: tx.title, time: this.$root.$options.filters.timeslot(tx)}
            } else {
                return { name: 'Bobina', time: '' }
            }
        }
    }
}

</script>
<template>
    <section class='tw-bg-black'>
        <div class='tw-max-w-screen-xl tw-flex tw-items-center'>
            <Player />
            <div class='tw-flex tw-flex-col'>
              <nuxt-link class='tw-font-bold tw-block tw-text-white tw-text-xl tw-via-red-400' :to='`/shows/${show?.slug}`' v-html="show?.name" />
              <span v-if='show.time' class='tw-text-white tw-text-sm tw-opacity-75 tw-leading-3'>{{show?.time}}</span>
            </div>
        </div>
    </section>
</template>
