<template>
<section>

  <HeaderHero :title="show?.title" :subtitle="show|timeslot" small />

  <div class='tw-mb-5 tw-flex tw-justify-center'>
    <CoreImg preset='header' :src='show|featuredImg' />
  </div>

  <main class='block tw-max-w-4xl tw-mx-auto tw-px-4'>
    <div v-html='show?.content' />
    <CoreTag class="mr-1" v-for='tag in show.tags' :key="tag.slug" :tag="tag" />
  </main>

  <template v-if="podcasts.length">
    <HeaderHero title="Ultimi podcast"></HeaderHero>

    <div class='tw-px-6'>
      <section class='rbo-grid  tw-max-w-screen-xl tw-mx-auto'>
        <PodcastCard :podcast='podcast' v-for='podcast in podcasts' :key="podcast.slug"/>
      </section>
    </div>

    <div v-intersect="infiniteScrolling" />

  </template>
</section>
</template>
<script>

import PodcastCard from '@/components/PodcastCard'
import Pagination from '@/components/Pagination'

export default {
  name: 'Show',
  data () {
    return ({ page: 1, loading: false })
  },
  head () {
    return {
      title: this.show.title,
      meta: [
        { property: 'og:title', content: this.show.title },
        { property: 'og:description', content: this.show.content },
        { property: 'og:image', content: 'https://cdn.radioblackout.org/wp-content/uploads/' + this.show.featured_media },
        { itemprop: 'image', content: 'https://cdn.radioblackout.org/wp-content/uploads/' + this.show.featured_media }
      ]
    }
  },
  components: { PodcastCard, Pagination },
  async asyncData ({ route, $wp }) {

    const show = await $wp.getShow(route.params.show)
    const { podcasts, pages } = await $wp.getPodcastsByShow(show.slug)

    return {
      podcasts,
      pages,
      show,
    }
  },
  methods: {
    async infiniteScrolling (isIntersecting, entries, observer) {
      if (isIntersecting && this.podcasts?.length) {
        this.loading= true
        this.page++
        const { podcasts } = await this.$wp.getPodcastsByShow(this.show.slug, this.page)
        if (podcasts?.length) {
          this.podcasts.push(...podcasts)
        }
        this.loading = false
      }
    }
  }
}
</script>
