<template>
<section class='container'>
  <section class="hero is-small">
    <div class='hero-body'>
      <h1 class='is-size-1 title mb-0' v-html="show?.title" />
      <div class='subtitle font-weight-light'>{{show|timeslot}}</div>
    </div>
  </section>

  <div class='mb-5 tw-flex tw-justify-center'>
    <CoreImg preset='header' :src='show|featuredImg' />
  </div>

    <main class='block tw-max-w-4xl tw-mx-auto tw-px-4'>
      <div v-html='show?.content' />
      <Tag class="mr-1" v-for='tag in show.tags' :key="tag.slug" :tag="tag" />
    </main>

    <template v-if="podcasts.length">
      <hr/>
      <h2 class="is-size-3 title">Ultimi podcast</h2>
      <div class='grid'>
        <PodcastCard :podcast='podcast' v-for='podcast in podcasts' :key="podcast.slug"/>
      </div>

      <div v-intersect="infiniteScrolling" />

    </template> 
</section>
</template>
<script>

import PodcastCard from '@/components/PodcastCard'
import Pagination from '@/components/Pagination'

export default {
  name: 'Show',
  data () {
    return ({ page: 1, loading: false })
  },
  head () {
    return {
      title: this.show.title,
      meta: [
        { property: 'og:title', content: this.show.title },
        { property: 'og:description', content: this.show.content },
        { property: 'og:image', content: 'https://cdn.radioblackout.org/wp-content/uploads/' + this.show.featured_media },
        { itemprop: 'image', content: 'https://cdn.radioblackout.org/wp-content/uploads/' + this.show.featured_media }
      ]
    }
  },
  components: { PodcastCard, Pagination },
  async asyncData ({ route, $wp }) {

    const show = await $wp.getShow(route.params.show)
    const { podcasts, pages } = await $wp.getPodcastsByShow(show.slug)
  
    return {
      podcasts,
      pages,
      show,
    }
  },
  methods: {
    async infiniteScrolling (isIntersecting, entries, observer) {
      if (isIntersecting && this.podcasts?.length) {
        this.loading= true
        this.page++
        const { podcasts } = await this.$wp.getPodcastsByShow(this.show.slug, this.page)
        if (podcasts?.length) {
          this.podcasts.push(...podcasts)
        }
        this.loading = false
      }
    }
  }
}
</script>
