<template>
  <section class="container">
    <section class="hero is-small tw-my-10">
      <div class="hero-body">
        <div class="tw-font-sans tw-font-weight-bold">
          <nuxt-link :to="`/shows/${podcast?.show?.slug}`">{{
            podcast?.show?.name
          }}</nuxt-link
          ><br />
          {{ podcast | postDate }}
        </div>
        <h1
          class="mb-0 tw-text-2xl tw-font-serif md:tw-text-5xl tw-font-serif tw-font-semibold md:tw-font-bold"
          v-html="podcast?.title"
        />
      </div>
    </section>

    <div class="mb-5 tw-flex tw-justify-center">
      <CoreImg preset="header" :src="podcast | featuredImg" />
    </div>

    <main class="block tw-max-w-4xl tw-mx-auto tw-px-4">
      <div v-html="podcast?.content" />
      <Tag
        class="mr-1"
        v-for="tag in podcast?.tags"
        :key="tag.slug"
        :tag="tag"
      />
    </main>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: this.podcast?.title,
      meta: [
        { property: "og:title", content: this.podcast?.title },
        { property: "og:description", content: this.podcast?.excerpt },
        {
          property: "og:image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.podcast?.featured_media,
        },
        {
          itemprop: "image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.podcast?.featured_media,
        },
      ],
    };
  },
  mounted() {
    this.$nuxt.$on("play:player", () => this.stop());
    this.audio = document.querySelectorAll("audio");
    this.audio.forEach((a) => {
      a.onplay = () => this.play(a);
    });
  },
  methods: {
    play(a) {
      this.$nuxt.$emit("play:podcast", a);
    },
    stop() {
      this.audio.forEach((a) => {
        a.pause();
      });
    },
  },
  data() {
    return { audio: [] };
  },
  async asyncData({ route, $wp }) {
    const slug = route.params.podcast;

    // get post from backend
    const data = await $wp.getPodcast(slug);

    return {
      podcast: data[0],
    };
  },
};
</script>
