<template>
  <section>

    <HeaderHero :title="podcast?.title" :suptitle="podcast|postDate" :link="{ to: `/shows/${podcast?.show?.slug}`, name: podcast?.show?.name }"  />

    <div class="mb-5 tw-flex tw-justify-center">
      <CoreImg preset="header" :src="podcast | featuredImg" />
    </div>

    <main class="block tw-max-w-4xl tw-mx-auto tw-px-4">
      <div v-html="podcast?.content" />
      <CoreTag
        class="mr-1"
        v-for="tag in podcast?.tags"
        :key="tag.slug"
        :tag="tag"
      />
    </main>
  </section>
</template>

<script>
export default {
  head() {
    return {
      title: this.podcast?.title,
      meta: [
        { property: "og:title", content: this.podcast?.title },
        { property: "og:description", content: this.podcast?.excerpt },
        {
          property: "og:image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.podcast?.featured_media,
        },
        {
          itemprop: "image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.podcast?.featured_media,
        },
      ],
    };
  },
  mounted() {
    this.$nuxt.$on("play:player", () => this.stop());
    this.audio = document.querySelectorAll("audio");
    this.audio.forEach((a) => {
      a.onplay = () => this.play(a);
    });
  },
  methods: {
    play(a) {
      this.$nuxt.$emit("play:podcast", a);
    },
    stop() {
      this.audio.forEach((a) => {
        a.pause();
      });
    },
  },
  data() {
    return { audio: [] };
  },
  async asyncData({ route, $wp }) {
    const slug = route.params.podcast;

    // get post from backend
    const data = await $wp.getPodcast(slug);

    return {
      podcast: data[0],
    };
  },
};
</script>
