<template>
  <section>
    <HeaderHero title="Podcast" background="foto1.jpg"/>
    <main class='md:tw-px-6'>
      <div class='rbo-grid tw-max-w-screen-xl tw-mx-auto'>
        <PodcastCard v-for='podcast in podcasts' :key='podcast.id' :podcast='podcast' />
      </div>

      <div v-intersect="infiniteScrolling" />

    </main>
  </section>
</template>
<script>

export default {
  name: 'Podcast',
  head () {
    return {
      title: 'Podcast',
      meta: [
        { property: 'og:title', content: 'Podcast' },
      ]
    }
  },
  data () {
    return ({ page: 1, loading: false })
  },
  async asyncData ({ route, $wp }) {
    try {
      // get post from backend
      const { data } = await $wp.getPodcasts()
      return {  podcasts: data }
    } catch (e) {
      console.error(e)
    }
  },
  methods: {
    async infiniteScrolling (isIntersecting, entries, observer) {
      if (isIntersecting && this.podcasts?.length) {
        this.loading= true
        this.page++
        const { data: podcasts } = await this.$wp.getPodcasts(this.page)
        if (podcasts?.length) {
          this.podcasts.push(...podcasts)
        }
        this.loading = false
      }
    },
  }
}
</script>
<style>
.loading {
  opacity: 0.5;
}
</style>
