/** classi usate da WP di cui non possiamo fare a meno **/

/** usata solitamente per portare le immagini a sinistra e il contenuto a destra **/
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

audio {
    border-radius: 10px;
    background-color: white;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* corpo degli articoli*/
main.block {
    font-family: 'PT Serif', Georgia,Times,Times New Roman,serif;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}

/* link degli articoli */
main a {
    color: red;
}

main a:hover {
    text-decoration: underline;
}

.footer a {
    @apply tw-text-red-600 hover:tw-underline;
}


/*
    bulma ha gia' una classe tag, faccio un overrider di alcune proprieta'
    per fare in modo che i tag molto lunghi vadano a capo.
*/
.tag {
    white-space: unset;
    height: auto;
}
/* p {
    font-family: 'PT Serif', Georgia,Times,Times New Roman,serif;
} */