/* @font-face {
    font-family: VT323;
    src: url(/VT323-Regular.ttf) format("truetype");
} */
/** classi usate da WP di cui non possiamo fare a meno **/

/** usata solitamente per portare le immagini a sinistra e il contenuto a destra **/
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

audio {
    border-radius: 10px;
    background-color: white;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* corpo degli articoli*/
main.block {
    font-family: 'PT Serif', Georgia,Times,Times New Roman,serif;
    line-height: 35px;
    font-size: 20px;
    font-weight: 400;
}

/* link degli articoli */
a {
    color: red;
}

a:hover {
    text-decoration: underline;
}

.footer a {
    @apply tw-text-red-600 hover:tw-underline;
}


/*
    bulma ha gia' una classe tag, faccio un override di alcune proprieta'
    per fare in modo che i tag molto lunghi vadano a capo.
*/
.tag {
    white-space: unset;
    height: auto;
}
/* p {
    font-family: 'PT Serif', Georgia,Times,Times New Roman,serif;
} */



/*  */
.rbo-h2 {
    /* font-weight: 600;
    font-size: 2.5rem;
    line-height: 2rem;
    color: white;
    margin-bottom: 2rem; */
    @apply tw-text-2xl tw-font-serif tw-text-white md:tw-text-4xl tw-font-semibold md:tw-font-bold tw-mb-5;
}
.rbo-small-title {
    @apply tw-block hover:tw-underline tw-font-semibold tw-font-sans;
    line-height: 1;
    margin-top: -1px;
}

.rbo-title {
    @apply md:tw-text-2xl hover:tw-underline tw-font-semibold tw-text-xl tw-block;
    margin-top: -5px;
}


.rbo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
/*
@media (max-width: 768px) {
  .rbo-grid {
    grid-template-columns: 1fr;  /* Una sola colonna su schermi più piccoli
  }
} */

/*

.rbo-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 30px 30px;
    @apply tw-inline md:tw-grid;
  } */
