<template>
  <!-- <div id="main" class="tw-bg-gray-900 tw-text-gray-300 tw-text-body tw-bg-opacity-70"> -->
  <div id="main" class="tw-bg-gray-50 tw-text-gray-800 tw-text-body">
    <Header />
    <TrasmissioneLive small />
    <Nuxt />
    <Footer />
  </div>
</template>
