<template>
  <section class="container">
    <section class="hero">
      <div class="hero-body">
        <h1
          class="mb-0 tw-text-2xl tw-font-serif md:tw-text-5xl tw-font-serif tw-font-semibold md:tw-font-bold"
        >
          Ops, non e' quello che cerchi
        </h1>
      </div>
    </section>

    <main class="block tw-max-w-4xl tw-mx-auto tw-px-4">
      {{ error.message }}
    </main>
  </section>
</template>
<script>
export default {
  props: ["error"],
};
</script>
