<template>
  <section class="container">
    <!-- <section class="hero is-small">
      <div class="hero-body">
        <div class="tw-font-sans tw-font-weight-bold">
          {{ post | postDate }}
        </div>
        <h1 class="mb-0 tw-text-2xl md:tw-text-5xl tw-font-semibold md:tw-font-bold" v-html="post?.title" />
      </div>
    </section> -->

    <HeaderHero :title="post?.title" :suptitle="post | postDate" />

    <div class="mb-5 tw-flex tw-justify-center">
      <CoreImg preset="header" :src="post | featuredImg" />
    </div>

    <main class="tw-max-w-4xl tw-mx-auto tw-px-4">
      <div class='tw-font-sans' v-html="post?.content" />
      <div class='tw-flex tw-flex-wrap tw-gap-1 tw-mt-4'>
        <CoreTag v-for="(tag, index) in post?.tags" :key="tag.slug" :tag="tag" />
      </div>
    </main>
  </section>
</template>

<script>
import Podcast from "~/components/Podcast";

export default {
  components: { Podcast },
  data() {
    return { post: {} };
  },
  head() {
    return {
      title: this.post?.title,
      meta: [
        { property: "og:title", content: this.post?.title },
        { property: "og:description", content: this.post?.excerpt },
        {
          property: "og:image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.post?.featured_media,
        },
        {
          itemprop: "image",
          content:
            "https://cdn.radioblackout.org/wp-content/uploads/" +
            this.post?.featured_media,
        },
      ],
    };
  },
  mounted() {
    this.$nuxt.$on("play:player", () => this.stop());
    this.audio = document.querySelectorAll("audio");
    this.audio.forEach((a) => {
      a.onplay = () => this.play(a);
    });
  },
  async asyncData({ route, $wp, error }) {
    // getting only the slug
    // /2024/8/libano-il-copione-di-israele-si-ripete
    const path = route.params.pathMatch.split("/").filter((item) => item);
    const slug = path.pop();

    // get post from backend
    const post = await $wp.getPost(slug);
    if (!post?.length) {
      return error({
        statusCode: 404,
        message: "Non ho trovato questo podcast: " + route.params.pathMatch,
      });
    }

    return {
      post: post[0],
    };
  },
  methods: {
    play(a) {
      this.$nuxt.$emit("play:podcast", a);
    },
    stop() {
      this.audio.forEach((a) => {
        a.pause();
      });
    },
  },
};
</script>
<style>
/* WORDPRESS STYLES */
.content a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
</style>
