<template>
  <section>

    <HeaderTitle title="About" />
    <main class="container">
      <main class='block tw-max-w-4xl tw-mx-auto tw-px-4'>
        <div v-html='about?.content?.rendered' />
      </main>
    </main>
  </section>
</template>
<script>

export default {
  name: 'About',
  async asyncData ({ route, $wp }) {

    // get post from backend
    const about = await $wp.getPage('chi-siamo')
    return { about }
  }    
}
</script>