<template>
  <section>

    <HeaderHero title="Chi siamo" />
    <main class="container">
      <main class='block tw-max-w-4xl tw-mx-auto tw-px-4'>
        <div v-html='about?.content?.rendered' />
      </main>
    </main>
  </section>
</template>
<script>

export default {
  name: 'Chi siamo',
  head () {
    return {
      title: 'Chi siamo',
      meta: [
        { property: 'og:title', content: 'Chi siamo' },
      ]
    }
  },  
  async asyncData ({ route, $wp }) {

    // get post from backend
    const about = await $wp.getPage('chi-siamo')
    return { about }
  }    
}
</script>