<template>
  <section>
    <HeaderTitle
      title="Eventi e Benefit"
      subtitle="vieni a sostenere le libere frequenze"
    />

    <main class="container">
      <!-- TODO: use .events class to make 2 columns, be carefull to mobile  -->
      <h3 class="tw-font-bold tw-text-3xl tw-font-serif tw-my-12">
        Prossimi eventi
      </h3>
      <section class="column" v-for="event in events" :key="event.id">
        <EventCardSmall :event="event" />
      </section>

      <h3 class="tw-font-bold tw-text-3xl tw-font-serif tw-my-12">
        Eventi passati
      </h3>
      <article class="column" v-for="event in oldEvents">
        <EventCardSmall :event="event" />
      </article>
    </main>
  </section>
</template>
<script>
import EventCardSmall from "@/components/EventCardSmall";

export default {
  name: "Eventi",
  data() {
    return { page: 1 };
  },
  head() {
    return {
      title: "Eventi e Benefit",
      meta: [
        { property: "og:title", content: "Eventi e Benefit" },
        {
          property: "og:description",
          content: "Vieni a sostenere le libere frequenze",
        },
      ],
    };
  },
  components: { EventCardSmall },
  async asyncData({ route, $wp }) {
    try {
      // get post from backend
      const [events, oldEvents] = await Promise.all([
        $wp.getEvents(),
        $wp.getEvents(true),
      ]);
      return { events, oldEvents };
    } catch (e) {
      console.error(e);
      return { events: [], oldEvents: [] };
    }
  },
};
</script>
<style>
section.events {
  display: grid;
  grid-template-columns: auto auto;
  /* grid-template-columns: 300px 300px auto; */
  gap: 20px 20px;
}
</style>
