<template>
  <section>
    <HeaderHero title="Eventi e Benefit" subtitle="vieni a sostenere le libere frequenze" />

    <div class="md:tw-px-6">
      <section class="tw-max-w-screen-xl tw-mx-auto">
        <h3 class="tw-font-bold tw-text-2xl tw-font-serif tw-my-12">
          Prossimi eventi
        </h3>
        <section class="rbo-grid">
          <EventCardSmall :event="event" v-for="event in events" :key="event.id"/>
        </section>

        <h3 class="tw-font-bold tw-text-2xl tw-font-serif tw-my-12">
          Eventi passati
        </h3>
        <section class="rbo-grid">
          <EventCardSmall :event="event" v-for="event in oldEvents" :key="event.id" />
        </section>
      </section>
    </div>
  </section>
</template>
<script>
import EventCardSmall from "@/components/EventCardSmall"

export default {
  name: "Eventi",
  data() {
    return { page: 1 };
  },
  head() {
    return {
      title: "Eventi e Benefit",
      meta: [
        { property: "og:title", content: "Eventi e Benefit" },
        {
          property: "og:description",
          content: "Vieni a sostenere le libere frequenze",
        },
      ],
    };
  },
  components: { EventCardSmall },
  async asyncData({ route, $wp }) {
    try {
      // get post from backend
      const [events, oldEvents] = await Promise.all([
        $wp.getEvents(),
        $wp.getEvents(true),
      ])
      return { events, oldEvents }
    } catch (e) {
      console.error(e)
      return { events: [], oldEvents: [] }
    }
  }
}
</script>
