<script setup>

const posts = [
{ title: 'title', url: 'https://gancio.org', date: new Date(), image: "foto1.png", excerpt: "diocane", tags: ['tags1', 'tags2'] },
{ title: 'title', url: 'https://gancio.org', date: new Date(), image: "foto1.png", excerpt: "diocane", tags: ['tags1', 'tags2'] },
{ title: 'title', url: 'https://gancio.org', date: new Date(), image: "foto1.png", excerpt: "diocane", tags: ['tags1', 'tags2'] },
{ title: 'title', url: 'https://gancio.org', date: new Date(), image: "foto1.png", excerpt: "diocane", tags: ['tags1', 'tags2'] },
]
</script>

<template>
  <section>
    <p>This is an example page, to put a title you can use:</p>

    <!-- TODO: remove bulma dependency -->
    <!-- <HeaderTitle
      title="L'Informazione di Blackout sdf"
      subtitle='dal lunedì al venerdì - dalle 9:00 alle 11:00'
      background="foto1.jpg"/> -->


    <!-- <CoreHorizontalCard 
      title="title"
      link="https://cisti.org"
      suptitle="date?"
      image="foto1.png"
      description="description bla bli ble long long"
      :tags="['tag1']"
    /> -->

    <HighlightPosts :posts="posts" title="Diocane" />

  </section>
</template>