<template>
  <section>
    <!-- //- HERO -->
    <section id="hero" class="hero is-medium tw-p0">
      <div class="hero-body">
        <h1
          class="tw-text-2xl tw-font-serif tw-text-white md:tw-text-5xl tw-font-serif tw-font-semibold md:tw-font-bold"
        >
          <u>Radio Blackout</u> trasmette notizie, approfondimenti, musica e
          controcultura dal 1992, libera e autogestita.
        </h1>
        <h1 class="subtitle has-text-white tw-mt-2">
          One station, against the nation
        </h1>
      </div>
    </section>

    <!-- //- Banner Call to action
  //- section.hero.is-small.has-background-light
  //-   div.hero-body
  //-     BannerCTO

  //- CallToAction
  //- Informazione
  -->
    <!-- <BannerCTO />
  <CallToAction>ciao</CallToAction> -->

    <!-- //- IN EVIDENZA -->
    <section class="tw-p-6 tw-bg-red-800 tw-py-12" v-if="hotPosts.length">
      <div class="tw-max-w-screen-xl tw-mx-auto">
        <h2 class="is-size-2 title has-text-white">In evidenza</h2>
        <div class="tw-flex tw-flex-row tw-flex-wrap">
          <div class="lg:tw-basis-2/3 tw-text-white media">
            <div class="columns">
              <CoreImg preset="bigthumb" :src="hotPosts[0] | featuredImg" />
              <div class="column">
                <div class="">
                  <div>{{ hotPosts[0] | postDate }}</div>
                  <nuxt-link
                    class="is-3 tw-text-white hover:tw-underline tw-font-semibold tw-text-2xl tw-font-serif"
                    :to="hotPosts[0] | link"
                    v-html="hotPosts[0].title"
                  />
                  <p class="pt-1" v-html="hotPosts[0]?.excerpt" />
                </div>
              </div>
            </div>
          </div>
          <div class="lg:tw-basis-1/3 has-text-white tw-w-full">
            <article class="media" v-for="post in hotPosts.slice(1)">
              <figure class="media-left">
                <p class="image is-96x96 is-square">
                  <CoreImg preset="mini" :src="post | featuredImg" />
                </p>
              </figure>
              <div class="media-content">
                <p>{{ post | postDate }}</p>
                <nuxt-link
                  class="tw-text-white hover:tw-underline tw-font-semibold tw-text-gray-950 tw-font-sans"
                  :to="post | link"
                  v-html="post?.title"
                />
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- //- Ultimi articoli da Info -->
    <section class="tw-p-6 has-background-black tw-py-12" v-if="lastPost">
      <div class="tw-max-w-screen-xl tw-mx-auto">
        <h2 class="is-size-2 title has-text-white">
          L'informazione di Radio Blackout
        </h2>
        <div class="tw-flex tw-flex-row tw-flex-wrap">
          <div class="lg:tw-basis-2/3 tw-text-white media">
            <div class="columns">
              <CoreImg preset="bigthumb" :src="lastPost | featuredImg" />
              <div class="column">
                <div class="md:tw-px-3">
                  <div>{{ lastPost | postDate }}</div>
                  <nuxt-link
                    class="is-3 tw-text-red-600 hover:tw-underline tw-font-semibold tw-text-2xl tw-font-serif"
                    :to="lastPost | link"
                    v-html="lastPost?.title"
                  />
                  <p class="pt-1" v-html="lastPost?.excerpt" />
                </div>
              </div>
            </div>
          </div>
          <div class="lg:tw-basis-1/3 has-text-white tw-w-full">
            <article class="media" v-for="post in lastPosts">
              <figure class="media-left">
                <p class="image is-96x96 is-square">
                  <CoreImg preset="mini" :src="post | featuredImg" />
                </p>
              </figure>
              <div class="media-content">
                <p>{{ post | postDate }}</p>
                <nuxt-link
                  class="tw-text-red-500 hover:tw-underline tw-font-semibold tw-font-sans"
                  :to="post | link"
                  v-html="post?.title"
                />
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

  <!-- //- Ultimi Podcast -->
  <section class='sm:tw-p-6 has-background-white'>
    <div class='tw-max-w-screen-xl tw-mx-auto'>
      <div class='p-2'>
        <h5 class='is-size-2 title has-text-black'>Ultimi Podcast</h5>
        <nav class='tw-flex tw-justify-between'>
          <nuxt-link class='subtitle' to="trasmissioni">Scopri le trasmissioni</nuxt-link>
          <nuxt-link to='/podcast' class='button mb-2'>Tutti i podcast</nuxt-link>
        </nav>
      </div>
      <div class="grid">
        <PodcastCard v-for='podcast in podcasts' :key='podcast.id' :podcast='podcast' />
      </div>
    </div>
  </section>

    <!-- //-Trasmissione Live -->
    <TrasmissioneLive />

    <!-- //- nuxt-link(to='/palinsesto')
  //-   span.is-vcentered Esplora il palinsesto
  //-   span.icon
  //-     i.fas.fa-arrow-right -->

    <!-- //-Eventi -->
    <section class="pt-6 tw-bg-beige-100">
      <div class="container px-0 lg:px-2">
        <div class="px-2">
          <div class="is-size-2 title has-text-black">Eventi e benefit</div>
          <nuxt-link class="subtitle tw-mb-8s" to="eventi"
            >Tutti gli eventi</nuxt-link
          >
        </div>

        <!-- //- <nuxt-link to ='/eventi'>
      //-   <button class='button is-pulled-right'>Tutti gli eventi</button>
      //- </nuxt-link> -->
        <div class="column" v-for="event in events">
          <EventCardSmall :event="event" />
        </div>
      </div>
    </section>

    <!-- //- Banner Call to action
  //- section.hero.is-medium.has-background-dark.p-6
  //-   div.hero-body
  //-     BannerCTO -->
  </section>
</template>
<script>
import BannerCTO from "@/components/BannerCTO";
import PodcastCardHome from "@/components/PodcastCardHome";
import EventCardSmall from "@/components/EventCardSmall";

export default {
  name: "homepage",
  head() {
    return {
      title: "Radio Blackout",
      meta: [{ property: "og:title", content: "Radio Blackout" }],
    };
  },
  components: { BannerCTO, PodcastCardHome, EventCardSmall },
  data() {
    return {
      page: 1,
      posts: [],
      podcasts: [],
      hotPosts: [],
      hostPostsPages: [],
      pages: [],
      events: [],
    };
  },
  async asyncData({ route, $wp }) {
    try {
      // get post from backend
      const { posts, pages } = await $wp.getPosts(1, 4);
      const { posts: hotPosts, pages: hotPostsPages } = await $wp
        .getHotPosts(1, 4)
        .catch((e) => []);
      const events = await $wp.getEvents().catch((e) => []);
      const podcasts = await $wp.getPodcasts(1, 8).catch((e) => []);
      return {
        posts,
        pages,
        events,
        podcasts: podcasts.data,
        hotPosts,
        hotPostsPages,
      };
    } catch (e) {
      return { posts: [], pages: [], podcasts: [], events: [], hotPosts: [] };
    }
  },
  computed: {
    lastPost() {
      return this.posts && this.posts.length && this.posts[0];
    },
    lastPosts() {
      return this.posts && this.posts.length ? this.posts.slice(1) : [];
    },
  },
};
</script>
<style>
.maxh-400 {
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}

img.cover {
  object-fit: cover;
}

img.top {
  object-position: top;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px 30px;
}

#hero {
  background-color: rgba(0, 0, 0, 0.8);
}

#hero::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 510px;
  z-index: -1;
  background: url(/foto1.jpg) no-repeat;
  background-position: 10% 30%;
  background-size: cover;
}
</style>
