<template>
  <section>
    <!-- //- HERO -->
    <section id="hero" class="hero is-medium tw-p0">
      <div class="hero-body">
        <h1 class="tw-text-2xl tw-font-serif tw-text-white md:tw-text-5xl tw-font-semibold md:tw-font-bold">
          <u>Radio Blackout</u> trasmette notizie, approfondimenti, musica e controcultura dal 1992, libera e autogestita.
        </h1>
        <h2 class="tw-font-serif tw-text-sm md:tw-text-lg tw-text-white tw-mt-2">One station, against the nation</h2>
      </div>
    </section>

    <!-- //- Banner Call to action
  //- section.hero.is-small.has-background-light
  //-   div.hero-body
  //-     BannerCTO

  //- CallToAction
  //- Informazione
  -->
  <!-- <BannerCTO /> -->

    <!-- //- IN EVIDENZA -->
    <HighlightPosts v-if="hotPosts.length" title='In Evidenza' :posts="hotPosts" />

    <!-- //- Ultimi articoli da Info -->
    <HighlightPosts v-if="posts.length" :posts="posts" title="L'informazione di Radio Blackout" dark />

    <!-- Ultimi Podcast -->
    <HeaderHero title="Ultimi Podcast" :sublink="{ name: 'Scopri le trasmissioni', to: '/trasmissioni' }" />
    <section class='tw-px-4 md:tw-px-6'>
      <div class="rbo-grid tw-max-w-screen-xl tw-mx-auto">
        <PodcastCard v-for='podcast in podcasts' :key='podcast.id' :podcast='podcast' />
      </div>
    </section>

    <!-- Eventi -->
    <HeaderHero title="Eventi e benefit" :sublink="{ name: 'Tutti gli eventi', to:'/eventi' }" />
    <section class="md:tw-px-6">
      <div class="rbo-grid tw-max-w-screen-xl tw-mx-auto">
        <EventCardSmall v-for='event in events' :key='event.id' :event="event" />
      </div>
    </section>

  </section>
</template>
<script>
import BannerCTO from "@/components/BannerCTO"
import PodcastCardHome from "@/components/PodcastCardHome"
import EventCardSmall from "@/components/EventCardSmall"

export default {
  name: "homepage",
  head() {
    return {
      title: "Radio Blackout",
      meta: [{ property: "og:title", content: "Radio Blackout" }],
    };
  },
  components: { BannerCTO, PodcastCardHome, EventCardSmall },
  data() {
    return {
      page: 1,
      posts: [],
      podcasts: [],
      hotPosts: [],
      hostPostsPages: [],
      pages: [],
      events: [],
    };
  },
  async asyncData({ route, $wp }) {
    try {
      // get post from backend
      const { posts, pages } = await $wp.getPosts(1, 4);
      const { posts: hotPosts, pages: hotPostsPages } = await $wp
        .getHotPosts(1, 4)
        .catch((e) => []);
      const events = await $wp.getEvents().catch((e) => []);
      const podcasts = await $wp.getPodcasts(1, 9).catch((e) => []);
      return {
        posts,
        pages,
        events,
        podcasts: podcasts.data,
        hotPosts,
        hotPostsPages,
      };
    } catch (e) {
      return { posts: [], pages: [], podcasts: [], events: [], hotPosts: [] };
    }
  },
}
</script>
<style>

img.cover {
  object-fit: cover;
}

img.top {
  object-position: top;
}

#hero {
  background-color: rgba(0, 0, 0, 0.8);
}

#hero::after {
  content: " ";
  position: absolute;
  left: 0;
  width: 100%;
  height: 510px;
  z-index: -1;
  background: url(/foto1.jpg) no-repeat;
  background-position: 10% 30%;
  background-size: cover;
}
</style>
