<template>
<section>

    <HeaderTitle title="L'Informazione di Blackout" subtitle='dal lunedì al venerdì - dalle 9:00 alle 11:00' background="foto1.jpg"/>

    <main class="container">
      <div class="block">

        <CoreHorizontalCard
          v-for="post in posts"
          :key="post.slug"
          :title="post.title" 
          :link="post|link"
          :suptitle="post|postDate" 
          :image="post|featuredImg"
          :description="post?.excerpt"
          :tags="post?.tags"
        />

        <div v-intersect="infiniteScrolling" />
      </div>
    </main>
  </section>
</template>
<script>

export default {
  name: 'Informazione',
  head () {
    return {
      title: 'Informazione',
      meta: [
        { property: 'og:title', content: 'Informazione' },
      ]
    }
  },  
  data () {
    return ({ page: 1, loading: false })
  },  
  async asyncData ({ $wp }) {

    // get post from backend
    const { posts } = await $wp.getPosts()
    return { posts }
  },
  methods: {
    async infiniteScrolling (isIntersecting, entries, observer) {
      if (isIntersecting && this.posts?.length) {
        this.loading= true
        this.page++
        const { posts } = await this.$wp.getPosts(this.page)
        if (posts?.length) {
          this.posts.push(...posts)
        }
        this.loading = false
      }
    },
  }
}
</script>
<style>
.img {
  flex-basis: 350px;
  flex-grow: 0;
}
</style>