<template>
<section>

  <HeaderHero title="Palinsesto" />

  <main class='tw-px-6'>
    <section class='tw-max-w-screen-xl tw-mx-auto'>

      <CoreTab v-model="selectedDay" :tabs="tabs" class='tw-mb-10'/>
      <CoreHorizontalCard
          v-for="show in palinsesto[selectedDay] ?? []"
          :key="show.slug"
          :title="show.title"
          :link="`/shows/${show?.slug}`"
          :suptitle="show|timeslot"
          :image="show|featuredImg"
          :description="show?.excerpt"
          :tags="show?.tags"
        />

    </section>
  </main>
</section>
</template>
<script>

export default {
  name: 'Palinsesto',
  head () {
    return {
      title: 'Palinsesto',
      meta: [
        { property: 'og:title', content: 'Palinsesto' },
      ]
    }
  },
  data () {
    return {
      tabs: { lunedi: 'Lunedì', martedi: 'Martedì', mercoledi: 'Mercoledì', giovedi: 'Giovedì', venerdi: 'Venerdì', sabato: 'Sabato', domenica: 'Domenica'},
      selectedDay: null,
    }
  },
  mounted () {
    const today = ((new Date()).getDay() + 6)%7 //fix for US weeks starting on Sunday
    this.selectedDay = Object.keys(this.tabs)[today]
  },
  async asyncData ({ route, $wp }) {

    try {
      const palinsesto = await $wp.getPalinsesto()
      return { palinsesto }
    } catch (e) {
      console.error(e)
      return { palinsesto: {} }
    }
  },
}
</script>
