<script>
export default {
  data() {
    return {
      facetLabels: { podcastfilter: "Trasmissione", tags: "Tag" },
      filters: { tags: {}, podcastfilter: {} },
      search: "",
      results: [],
      open: false,
      page: [1, 1],
      selectedType: 0, // questa e' una porcata (0: post, 1: podcast)
    };
  },
  computed: {
    pages() {
      return Math.ceil(this.results?.results?.[this.selectedType]?.found / 6 );
    },
    // page () {
    //     return this.results?.results?.[this.selectedType].page
    // }
  },
  watch: {
    filters: {
      handler() {
        this.updateSearch()
      },
      deep: true,
    },
  },
  methods: {
    // toggleFilter (filter) {
    //     console.error('dentro toggle filter')
    //     this.filters[filter.value] = !!!this.filters?.[filter.value]
    // },
    async changePage(page) {
      this.page.splice(this.selectedType, 1, page)
      this.updateSearch()
      // this.set(this.page, this.selectedType, page)
      // this.page[this.selectedType] = page
    },
    async updateSearch() {
      if (!this.search) return;

      let post_filter_by;
      let podcast_filter_by;
      const selectedTags = Object.keys(this.filters.tags).filter(
      (k) => this.filters.tags[k]
      );
      if (selectedTags.length) {
        post_filter_by = `tags:=[\`${selectedTags.join("`,`")}\`]`;
        podcast_filter_by = post_filter_by;
      }

      const selectedPodcastfilter = Object.keys(
      this.filters.podcastfilter
      ).filter((k) => this.filters.podcastfilter[k]);
      if (selectedPodcastfilter.length) {
        if (podcast_filter_by) {
          podcast_filter_by += `&& podcastfilter:=[\`${selectedPodcastfilter.join(
          "`,`"
          )}\`]`;
        } else {
          podcast_filter_by = `podcastfilter:=[\`${selectedPodcastfilter.join(
          "`,`"
          )}\`]`;
        }
      }

      const searches = {
        searches: [
        {
          collection: "post",
          facet_by: "tags",
          ...(post_filter_by && { filter_by: post_filter_by }),
          query_by: "post_title,post_content,tags",
          page: this.page[0],
          per_page: 6,
          highlight_affix_num_tokens: 5,
          highlight_full_fields: "post_title,post_content",
          q: this.search,
        },
        {
          collection: "podcast",
          facet_by: "podcastfilter,tags",
          query_by: "post_title,post_content,tags",
          ...(podcast_filter_by && { filter_by: podcast_filter_by }),
          page: this.page[1],
          per_page: 6,
          highlight_affix_num_tokens: 5,
          highlight_full_fields: "post_title,post_content,tags",
          q: this.search,
        },
        ],
      };
      // http://172.18.0.4:8180/multi_search?x-typesense-api-key=crfaQoSQGPIx9xy93ZopF7XkEAUGYnfU
      this.results = await fetch(`/multi_search?x-typesense-api-key=xyz`, {
        body: JSON.stringify(searches),
        method: "POST",
        headers: {
          Accept: "application/json, text/plain, */*",
          "X-TYPESENSE-API-KEY": "xyz",
        },
      })
      .then((ret) => ret.json())
      .catch((e) => []);
    },
    async select(type) {
      this.selectedType = type;
    },
  },
}
</script>
<template>
  <section>
    <HeaderHero class="tw-ma-0 tw-pa-0 tw-p-0 tw-m-0" title="Cerca" subtitle="Tutti i podcast pubblicati dal 2005, puoi cercare per tag, titolo o contenuto"/>
    <main class="tw-px-6">
      <section class='tw-max-w-screen-xl tw-mx-auto'>
        <input class="tw-w-full tw-block tw-bg-white tw-border tw-p-2 tw-mb-2" type="text" v-model="search" @input="updateSearch"
          placeholder="Cosa cerchi?" />

        <div class="tw-flex tw-gap-5" v-if="search">

          <div id="searchSidebar">
            <button @click="select(0)" class="tw-button tw-w-full tw-bg-gray-100 tw-uppercase navbar-item hover:tw-bg-gray-300">L'info di Blackout
              <span class="info">{{ results?.results?.[0]?.found }}</span>
            </button>
            <button @click="select(1)" class="tw-button tw-w-full tw-mt-1 tw-bg-gray-100 tw-uppercase navbar-item hover:tw-bg-gray-300">Podcast
              <span class="info">{{ results?.results?.[1]?.found }}</span>
            </button>


            <div class="tw-mt-2" v-for="facet in results?.results?.[selectedType]?.facet_counts">
              <h1 class="tw-uppercase tw-text-lg tw-font-bold">{{ facetLabels[facet.field_name] }}</h1>
              <select multiple class="tw-block tw-w-full">
                <option v-for="cat in facet.counts" :value="cat.value"> {{ cat.value }}</option>
              </select>
            </div>
          </div>


          <div class="tw-cl">
            <SearchCard v-for='result in results?.results?.[selectedType]?.hits' :key="result.document.id" :result='result' />
            <Pagination :pages="pages" :page="page[selectedType]" @change="changePage"/> <br/>
          </div>
        </div>
      </section>
    </main>
  </section>
</template>
<style>
dialog {
  z-index: 1;
  user-select: none;
}

#searchSidebar {
  width: 300px;
  flex-shrink: 0;
}

.info {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: red;
  color: white;
  font-size: 11px;
  padding: 0 5px;
  opacity: 0.75;
}
</style>
