<template>
<div class="tw-row tw-m-8">
  <div class="tw-col">
    <input class='input text-field input-text' type="text" v-model="search" @input="updateSearch" />
    <div v-for="result in results.hits" :key="result.document.id" class="tw-mb-5">
      <nuxt-link class='title is-4 max-lines tw-mb-0' :to='result.document.permalink.replace("http://wp.loc/","")' v-html='result.highlight?.post_title?.snippet ?? result.document.post_title'></nuxt-link>
      <span v-html='result.highlight?.post_content?.snippet'/>
      <!-- <span>{{ result }}</span> -->
    </div>
  </div>
</div>
</template>
<script>

export default {
  data() {
    return {
      search: '',
      results: []
    }
  },
  methods: {
    async updateSearch (search) {
      if (!this.search) return
      this.results = await fetch(`http://typesense:8108/collections/post/documents/search?q=${this.search}&query_by=post_title,post_content,post_author,category`,
        { headers: { 'X-TYPESENSE-API-KEY': 'xyz' }}).then(ret => ret.json()).catch(e => ([]))
    }
  }
}
</script>