<script>
import sortBy from "lodash/sortBy";

export default {
  head() {
    return {
      title: "Trasmissioni",
      meta: [{ property: "og:title", content: "Trasmissioni" }],
    };
  },
  name: "Trasmissioni",
  data() {
    return { search: "" };
  },
  computed: {
    oldShowList() {
      const list = {};
      sortBy(this.oldShows, "title").forEach((show) => {
        if (this.search) {
          if (!show?.title.toUpperCase().includes(this.search.toUpperCase())) {
            return;
          }
        }
        const firstChar = show?.title[0]?.toUpperCase();
        if (!list[firstChar]) {
          list[firstChar] = [];
        }

        list[firstChar].push(show);
      });
      return list;
    },

    activeShowList() {
      const list = {};
      sortBy(this.shows, "title").forEach((show) => {
        if (this.search) {
          if (!show?.title.toUpperCase().includes(this.search.toUpperCase())) {
            return;
          }
        }
        const firstChar = show?.title[0]?.toUpperCase();
        if (!list[firstChar]) {
          list[firstChar] = [];
        }

        list[firstChar].push(show);
      });
      return list;
    },
  },
  async asyncData({ route, $wp }) {
    try {
      // get post from backend
      const allShows = await $wp.getShows();
      const shows = allShows.filter((s) => s.active);
      const oldShows = allShows.filter((s) => !s.active);
      return { shows, oldShows };
    } catch (e) {
      console.error(e);
      return { shows: [], error: e };
    }
  },
};
</script>
<template>
  <section>
    <HeaderTitle title="Trasmissioni" />
    <main class="container">
      <input
        class="tw-border tw-p-2 tw-rounded tw-full"
        type="text"
        v-model="search"
        placeholder="Cerca trasmissione"
        name="search"
      />

      <div v-for="(shows, firstChar) of activeShowList" :key="firstChar">
        <h2 class="tw-text-2xl tw-font-serif tw-font-bold tw-my-8">
          {{ firstChar }}
        </h2>
        <CoreHorizontalCard
          v-for="show in shows"
          :key="show.slug"
          :title="show.title"
          :link="`/shows/${show?.slug}`"
          :suptitle="show | timeslot"
          :image="show | featuredImg"
          :description="show?.excerpt"
          :tags="show?.tags"
        />
      </div>

      <section class="hero is-medium tw-bg-beige-100">
        <div class="hero-body">
          <h1 class="is-size-1 title">Vecchie trasmissioni</h1>
        </div>
      </section>
      <div v-for="(shows, firstChar) of oldShowList" :key="`old_${firstChar}`">
        <h2 class="tw-text-2xl tw-font-serif tw-font-bold tw-my-8">
          {{ firstChar }}
        </h2>
        <CoreHorizontalCard
          v-for="show in shows"
          :key="show.slug"
          :title="show.title"
          :link="`/shows/${show?.slug}`"
          :suptitle="show | timeslot"
          :image="show | featuredImg"
          :description="show?.excerpt"
          :tags="show?.tags"
        />
      </div>
    </main>
  </section>
</template>
