<script>
export default {
  name: 'HorizontalCard',
  props: {
    suptitle: { type: String, default: '' },
    title: { type: String, default: '' },
    image: { type: String, default: '' },
    description: { type: String, default: '' },
    tags: { type: Array, default: () => [] },
    link: { type: String, default: '' }
  },
}
</script>
<template>
  <div class="horizontal-card columns">
    <div class="column img">
      <CoreImg preset="thumb" :src="image" />
    </div>
    <div class="column is-two-thirds tw-mx-1 tw-pa-0">
      <div class="timestamps">{{ suptitle }}</div>
      <nuxt-link class="title is-3 hover:tw-underline" :to="link" v-html="title"></nuxt-link>
      <p v-html="description"></p>
      <Tag v-for="tag in tags" :key="tag?.slug" :tag="tag" />
    </div>
  </div>
</template>
<style>
.horizontal-card {
  min-height: 350px;
}

.is-cover {
  object-fit: cover;
}

.max-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  padding-bottom: 2px;
}

.horizontal-card a:hover {
  text-decoration: underline;
}

</style>