<!--
questa card viene utilizzata per mostrare:

 - le trasmissioni dentro /trasmissioni
 - i post dentro /informazione
 - in home page e' il post piu' in evidenza nella sezione in evidenza

-->
<script setup>
defineProps({
  suptitle: { type: String, default: '' },
  title: { type: String, default: '' },
  image: { type: String, default: '' },
  description: { type: String, default: '' },
  tags: { type: Array, default: () => [] },
  link: { type: String, default: '' },
  variant: { type: String, default: 'tw-text-primary-500' }
})
</script>

<template>
  <div class="rbo-horizontal-card">
    <div class="rbo-img">
      <CoreImg preset="thumb" :src="image" />
    </div>
    <div class="rbo-txt">
      <nuxt-link v-if='title ':class="variant" class="rbo-title hover:tw-underline" :to="link" v-html="title"></nuxt-link>
      <i v-if='suptitle' class="tw-text-sm tw-opacity-75 tw-mb-2 tw-block">{{ suptitle }}</i>
      <p v-if='description' v-html="description"></p>
      <div v-if='tags?.length' class='tw-flex-wrap tw-flex tw-gap-1 tw-mt-2'>
        <CoreTag v-for="tag in tags" :key="tag?.slug" :tag="tag" />
      </div>
    </div>
  </div>
</template>

<style>

.rbo-horizontal-card {
  min-height: 350px;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2em;
}

.rbo-img {
  flex: 1 1 300px;
}

.rbo-txt {
  /* padding: 0 15px; */
  flex: 5 1 400px;
  max-width: 100%;
}

.rbo-txt p {
    word-break: normal;
    overflow-wrap: break-word;
    hyphens: auto;
}

</style>
