<template>
  <picture :class="preset" :fetchpriority="preset === 'header' ? 'high' : ''">
    <img
      class="tw-object-cover tw-w-full"
      :class="preset"
      :loading="loading"
      :src="url"
      @error="error = true"
    />
  </picture>
</template>
<script>
export default {
  name: "CoreImg",
  props: {
    src: String,
    preset: { type: String, default: "thumb" }, // header, thumb, bigthumb
  },
  data() {
    return { error: false };
  },
  computed: {
    url() {
      if (this.src && !this.error) {
        return `/ipx/${this.modifiers}/${this.src}#${this.modifiers}`;
      } else {
        return "/logo.png";
      }
    },
    loading() {
      return ["header"].includes(this.preset) ? "" : "lazy";
    },
    modifiers() {
      switch (this.preset) {
        case "header":
          return "s_1000x500,pos_top,q_90,f_webp";
        case "eventMini":
          return "s_150x150,pos_top,q_80,f_webp";
        case "mini":
          return "s_100x100,pos_top,q_90,f_webp";
        case "event":
          return "s_300x800,fit_outside,q_100,f_webp";
        case "podcast":
          return "s_350x200,pos_top,q_90,f_webp";
        case "bigthumb":
        case "thumb":
        default:
          return "s_400x400,pos_top,q_80,f_webp";
      }
    },
  },
};
</script>
<style>
.header {
  height: 500px;
  max-width: 1000px;
}

.mini {
  height: 100px;
  width: 100px;
  max-width: initial;
}

/* TOFIX */
.podcast {
  height: 243px;
}

.bigthumb {
  @apply tw-max-w-full tw-max-h-full tw-w-full lg:tw-w-96 tw-aspect-square;
}

.event {
  width: 100%;
}
.eventMini {
  @apply tw-w-full sm:tw-w-[150px] tw-h-[150px] tw-object-cover tw-object-bottom sm:tw-object-center;
}
</style>
