<script>
export default {
    props: {
        tabs: { type: [Array, Object], default: () => ['lunedi', 'martedi'] },
        value: { type: [Number, String] },
    },
}
</script>
<template>
    <nav class="tw-w-full tw-black tw-red tw-place-content-center tw-flex tw-border-b-black tw-b-1">
        <button class='tw-button tw-m-1 tw-bg-gray-200 tw-uppercase navbar-item hover:tw-bg-gray-300' v-for='(tab, index) of tabs'
            :class='{"tw-bg-gray-300": index === value}' :key='index' v-text='tab' @click="$emit('input', index)" />
    </nav>
</template>