<script setup>
    defineProps(['tag'])
</script>
<template>
  <nuxt-link class='rbo-tag' :to='`/tag/${tag?.slug ?? tag}`'><slot>{{ tag?.name ?? tag}}</slot></nuxt-link>
</template>

<style>
.rbo-tag {
    padding: 1px .5rem 2px .5rem;
    font-size: 0.85rem;
    font-weight: 300;
    border-radius: 0.375rem;
    align-items: center;
    opacity: 0.75;
    @apply tw-bg-white tw-text-black tw-border hover:tw-bg-zinc-100 hover:tw-no-underline;
}
</style>
