<!-- Note: Non posso usare le composition API perche' usare i plugin $wp e il router non e' banale, quando passiamo a nuxt3 -->
<script>
import PodcastCard from '@/components/PodcastCard'
import Pagination from '@/components/Pagination'

export default {
  name: 'PageTag',
  data () {
    return ({ post_page: 1, podcast_page: 1 })
  },
  components: { PodcastCard, Pagination },
  async asyncData ({ route, $wp }) {

    const tag = await $wp.getTag(route.params.tag)

    const { posts, total_pages: posts_total_pages } = tag ? await $wp.getPostsByTag(tag[0].id) : []
    const { podcasts, total_pages: podcasts_total_pages } = tag ? await $wp.getPodcastsByTag(tag[0].id) : []

    return {
      tag,
      posts,
      podcasts,
      podcasts_total_pages,
      posts_total_pages,
    }
  },
  methods: {
    async changePage (type, page) {
      if (type === 'podcast') {
        const { podcasts, total_pages } = this.tag ? await this.$wp.getPodcastsByTag(this.tag[0].id, page) : []
        this.podcasts = podcasts
        this.podcasts_total_pages = total_pages
        this.podcast_page = page

      } else {
        const { posts, total_pages } = this.tag ? await this.$wp.getPostsByTag(this.tag[0].id, page) : []
        this.posts = posts
        this.postss_total_pages = total_pages
        this.post_page = page
      }
    }
  }
}
</script>

<template>
  <section>
    <HeaderHero v-if='posts?.length'  :title="`Tag - Info > ${$route.params?.tag}`" />
    <div class='md:tw-px-6'>
      <main class='rbo-grid tw-max-w-screen-xl tw-mx-auto'>
        <PodcastCard :podcast='post' v-for='post in posts' :key='post.id' isPost/>
        <Pagination :page='post_page' :pages='posts_total_pages' @change='p => changePage("post", p)' />
      </main>
    </div>

    <HeaderHero v-if='podcasts?.length' :title="`Tag - Podcast > ${$route.params?.tag}`" />
    <div class='md:tw-px-6'>
      <main class='rbo-grid tw-max-w-screen-xl tw-mx-auto'>
        <PodcastCard :podcast='podcast' v-for='podcast in podcasts' :key='podcast.id'/>
        <Pagination :page='podcast_page' :pages='podcasts_total_pages' @change='p => changePage("podcast", p)'/>
      </main>
    </div>
  </section>
</template>
