<template>
    <section class='container'>
      <section class="hero is-small">
        <div class='hero-body'>
          <!-- <h1 class='is-size-1 title mb-0'>{{route.params.tag}}</h1> -->
        </div>
      </section>
      <div class='container'>
    
        <!-- <main class='block max-sm:tw-m-4' v-html='show?.content' /> -->
    
        <hr/>
        <h2 class="is-size-3 title">Ultimi podcast</h2>
        <div class='columns is-multiline'>
          <div class='column is-one-third' v-for='podcast in podcasts'>
            <PodcastCard :podcast='podcast' />
          </div>
        </div>
      </div>
    </section>
    
    </template>
    
    <script>
    
    import PodcastCard from '@/components/PodcastCard'
    import Pagination from '@/components/Pagination'
    
    export default {
      name: 'Tag',
      data () { 
        return ({ page: 1, loading: false })
      },  
      components: { PodcastCard, Pagination },
      async asyncData ({ route, $wp }) {
    
        const tag = await $wp.getTag(route.params.tag)
        console.error(tag.id)
        const podcasts = await $wp.getPostsByTag(tag[0].id)
      
        return {
          podcasts,
          pages: 10,
        }
      },
      methods: {
        async changePage (page) {
          this.loading = true
          const { podcasts, pages } = await this.$wp.getPodcastsByShow(this.show.slug, page)
          this.podcasts = podcasts
          this.pages = pages
          this.page = page
          this.loading = false      
        }
      }
    }
    </script>
    